[2019-08-15 13:19] zachferland commented on #324
ok, the release on master? I haven't been able to recreate with any new account yet

[2019-08-15 13:22] michaelsena commented on #324
Yeah the web3connect release that we recently pushed to master. But Kenzo has pushed a small fix for one of the syncing issues so let me try with cleared cache again to confirm.

[2019-08-15 13:27] michaelsena commented on #324
@zachferland just confirmed this happened to me on first load of a new portis account (created 2 weeks ago). I cleared cache, and hadn't used it in a few days, so when I tried to sync data on first load it never connected to the pinning node. On second load, it synced the data fine.

[2019-08-15 13:30] zachferland commented on #324
did it throw head hash doesn't match errors in the console?

[2019-08-15 13:30] michaelsena commented on #324
No it didn't @zachferland

[2019-08-15 13:31] zachferland commented on #324
yeah think it is different than before, error before was only cache clear, this seems to only be on first db open on pinning node, not on each cache clear

[2019-08-15 13:32] zachferland commented on #324
can you see it on any new accounts used with metamask? instead of others

[2019-08-15 13:35] michaelsena commented on #324
Can confirm it's on first DB open, and not because of cleared cache. Just tested that with portis.

Will try a new MM account, but need like an hour to create an account, then let the pinning node close and then try again.

[2019-08-15 13:38] oed commented on #324
Ok, if that's the case we could test it faster with the services-box by setting the timeout to be shorter.

[2019-08-15 14:16] zachferland commented on #324
yeah recreated locally now, this bug shouldn't be too bad, just have to find it now

[2019-08-15 14:34] #555 closed

[2019-08-15 15:21] tung-eh opened #561 "Upload image to 3box"
Hi guys,

I'd like to upload image and then store the image url to 3box, like the profile image on 3box hub.
I know that I can upload it directly to IPFS through a public gateway but is there a simpler way to do it through 3box API. 3box connect with IPFS under the hood so I think the API should provide us ability to upload file easily.

[2019-08-16 01:43] zachferland commented on #324
@oed not much to update so far, once revisiting today, could no longer recreate as mentioned above, have to really look to make sure i have the exact same env/builds, not sure what happened there

Did see 3boxjs not reconnecting to pinning node once the db has closed on the pinning node. Didn't get to look to deep yet, have further to go, but once db closed, peer stayed in this._ipfs.pubsub.peers,

[2019-08-16 08:23] oed commented on #561
That would be a great feature! We are considering to add it in the future :)

[2019-08-16 13:45] oed opened #562 "Implement basic pubsub messaging"
Including basic tests

[2019-08-16 13:47] oed opened #563 "Implement JWT signing and verification of messages"
In ghost chat
Including tests

[2019-08-16 13:53] oed opened #564 "Implement online list"

[2019-08-16 13:55] oed opened #565 "Add Ghost Chat to example dapp"

[2019-08-16 14:02] oed opened #566 "Research peer discovery"
Test various discovery mechanisms and document how they work. Some are listed below, are there other methods?

Useful links for various methods:
https://stackoverflow.com/questions/52910503/how-can-i-get-a-libp2p-rendezvous-server-running
https://github.com/libp2p/js-libp2p/tree/master/examples/delegated-routing
https://github.com/ipfs/js-ipfs#configuring-delegate-routers

[2019-08-16 14:04] oed opened #567 "Implement signaling server"

[2019-08-16 14:06] oed opened #568 "Final adjustmens and bugfixes of Ghost Chat"

[2019-08-16 14:09] oed opened #569 "Add documentation for Ghost Chat"
- [ ] in github jsdoc: architecture documentation,
- [x] add to docs.3box.io (API section and Web Apps section)
- [ ] API tutorial
- [ ] maybe blogpost

[2019-08-17 13:05] oed opened #584 "Verify linkAddress proof before adding to rootstore"
Right now it is possible to add invalid proofs with `linkAddress` which might be an issue when calling `listAddressLinks`, since that verifies the proofs. We should verify all proofs that are added with `linkAddress`.

The `_linkProfile` and the `linkAddress` methods simply accepts whatever is given as a signature and writes it to the users 3box using the `_writeRootstoreEntry`. We should take the

[2019-08-18 16:05] leonprou commented on #515
@oed guys any update on this?

[2019-08-18 17:47] oed commented on #515
Hey, unfortunately we haven't had a chance to have a closer look at this specifically yet. However, we recently implemented Web3Connect in the 3box.io dapp. And it seems like it's working fine in safari when using portis for example.

[2019-08-19 15:43] ghiliweld opened #571 "implement message caching"

[2019-08-24 01:48] kfth commented on #408
:+1:

[2019-08-24 01:49] kfth commented on #408
worked for me:
'''NODE_OPTIONS=--max_old_space_size=4096 npm run build'''

[2019-08-24 01:49] kfth commented on #408
worked for me:
```NODE_OPTIONS=--max_old_space_size=4096 npm run build```

[2019-08-24 18:40] JavierAguerri opened #576 "Bug: 3box could not be imported for ES6 vue project"
**Describe the bug**
We have a project where we use vue js and we are trying to import 3box library via import command, but it crashes upon execution:

[code]

**To Reproduce**
1. Install 3box using npm
2. add the following line in vue main file: import box from '3box'
3. Run

**Expected behavior**
Library is imported without issues

**Desktop (please complete the following information):**
 - OS:

[2019-08-24 23:22] oed opened #577 "Support ethersjs"
To support the ether.js api with 3box you can use the following code snippet by using the ethers.js wallet interface:

[code]

Now you can authenticate a 3box with this wrapper:

[code]

[2019-08-28 17:51] nafroman opened #579 "Error installing 3box via npm"
Hello, I have a vuejs project and i want to include 3box into my app
I am installing via - sudo npm install --save 3box
and i get the following error:
[code]

[2019-08-28 17:55] nafroman commented on #579
im installing with sudo so i dont understand why im getting a permission error

[2019-08-28 18:03] #579 closed

[2019-09-03 16:52] oed opened #580 "Release v1.11 w/ IdentityWallet support"

[2019-09-03 16:53] #580 closed

[2019-09-03 19:59] ps2-controller commented on #577
At Oed's request, adding a solution for when the private key is generated through EthCrypto and controlled. (Generalizes to any instance when the private key is controlled, so no provider is needed)
pass the following as the second argument in Box.openBox()
[code]

[2019-09-04 00:05] michaelsena opened #581 "Release 3box-js 1.11"
This will include IdentityWallet, Sync Fixes, and EIP1271 support

[2019-09-04 00:52] zachferland commented on #581
sync fixes out in 1.10.8 and then 1.10.9 on thursday already

Although, stuff in this release may improve sync issues as well

[2019-09-04 07:39] oed commented on #581
Yeah, bad wording! This is referring to the replication code :)

[2019-09-04 10:10] oed commented on #558
Closing, duplicate of #581

[2019-09-04 10:10] #558 closed

[2019-09-04 10:16] oed commented on #560
Closing as we decided to keep them in pinning-node repo.

[2019-09-04 10:16] #560 closed

[2019-09-04 16:33] michaelsena opened #585 "Make ghost chat api similar to threads api"

[2019-09-05 19:47] oznekenzo opened #586 "getThread() does not return Author, but joinThread() with getPosts() does"
'Author' is not returned from static getThread method, and is necessary for the 3box-comments component - otherwise a user will have to sign to open every unopened space upon landing on a page with comments (instead of signing on Comment post)

[2019-09-08 16:20] oed commented on #586
Thanks for reporting @oznekenzo! Moving this to the 3box-pinning-node repo.

[2019-09-09 22:54] greenkeeper[bot] opened #588 "An in-range update of ganache-cli is breaking the build 🚨"
## The devDependency [ganache-cli](https://github.com/trufflesuite/ganache-cli) was updated from `6.6.0` to `6.7.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fganache-cli-6.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ganache-cli is a devDependency of this projec

[2019-09-10 20:08] liamzebedee opened #589 "Breaking changes in did-resolver 1.0.0"
Recently added `did-resolver` as a dependency to `package.json` for ciaodao - turns out it broke `3box-js` usage. This is due to their [breaking changes in 1.0.0](https://github.com/decentralized-identity/did-resolver#breaking-changes-010).

[2019-09-11 07:27] oed commented on #589
Thanks for opening this! It's quite a large breaking change, and not super easy to change right now. It might even need some changes in orbitdb because of the way identities are verified in their code (see `3box-orbitdb-plugins`). For now I would recommend just using the previous version of the did-resolver.

[2019-09-12 19:36] greenkeeper[bot] opened #593 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.39.3` to `4.40.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fwebpack-4.40.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2019-09-16 13:23] achingbrain opened #595 "js-IPFS early testers programme"
We're trying to improve our release process for [`js-IPFS`](https://github.com/ipfs/js-ipfs) and part of that is introducing an early testers programme.

Full details are on the doc at [`ipfs/js-ipfs/doc/EARLY_TESTERS.md`](https://github.com/ipfs/js-ipfs/tree/master/doc/EARLY_TESTERS.md) - if you'd like to join in and help out please send a PR updating that doc to add this repo and we'll open PRs

[2019-09-16 14:50] #566 closed

[2019-09-16 15:33] GrandSchtroumpf opened #596 "Fails over HTTP"
**Describe the bug**
When running 3box over HTTP we cannot login. Here is the error
`Cannot read property 'importKey' of undefined`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://remix.ethereum.org
2. Click on "Plugin Manager" (plug icon on the right)
3. Click on "Connect with MetaMask"
4. See error in console

**Expected behavior**
Login should works on HTTP

**Screenshots**
I

[2019-09-17 12:20] oed commented on #596
Thanks for reporting! The reason this happens I think is because the connection to our ipfs node needs to happen over https for security issues.
Maybe there is some setting in chrome for development mode that can be used?

[2019-09-17 12:21] GrandSchtroumpf commented on #596
Ok, thanks I'll take a look at it.

[2019-09-23 12:34] oed commented on #205
Stale, closing.

[2019-09-23 12:34] #205 closed

[2019-09-23 12:34] oed commented on #222
Stale, closing.

[2019-09-23 12:34] #222 closed

[2019-09-23 12:37] oed commented on #384
Already finished.

[2019-09-23 12:37] #384 closed

[2019-09-23 12:40] oed commented on #414
Hey, so sorry! Seems like we've totally missed this bug report! Is this still a problem for you?

[2019-09-23 12:47] #453 closed

[2019-09-23 12:47] oed commented on #453
I assume this is not happening anymore @Schwartz10, closing for now. Please reopen if there are still issues with this.

[2019-09-23 12:57] oed commented on #595
Hey, thanks for asking this! Currently I don't think we have capacity to take this on. Would definitely like to help out with this effort at some point in the future though!

[2019-09-23 12:59] #129 closed

[2019-09-23 13:01] oed commented on #9
Already implemented.

[2019-09-23 13:01] #9 closed

[2019-09-23 17:56] oed opened #598 "Add a way of adding a blocklist to GhostThreads"
Using filters?

[2019-09-23 23:20] greenkeeper[bot] opened #599 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.6.0` to `7.6.2`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.6.0` to `7.6.2`.
- The `devDependency` [@babel/plugin-proposal-object-rest-spread](https://www.npmjs.com/package/@babel/plugin-pro

[2019-09-24 08:43] oed opened #600 "Add limit to backlog"
Right now the backlog stored in ghost threads is being persisted since a user joined. This means that the backlog would grow indefinitely. We should add a limit such that only messages posted within the last 24h are rebroadcasted when a peer requests backlog.

[2019-09-24 08:46] oed opened #601 "Multi user testing"
Test the ghost thread feature with multiple users on different computers.

[2019-09-24 08:49] oed opened #602 "Use deployed signal services"
Add multiaddresses in 3Box-js code

[2019-09-24 08:59] oed opened #603 "Update IPFS version"
To atleast 0.37, or 0.38 if available.

0.37 includes delegated routing which we might want to use

0.38 includes gossipsub

[2019-09-24 09:21] oed opened #604 "Enable delegate peer routing"
As described here: https://github.com/ipfs/js-ipfs/releases/tag/v0.37.0

Steps:
- [ ] Set up delegate routing node locally
- [ ] Add code for connecting to node
- [ ] Test that delegate routing works correctly
- [ ] Dockerize and deploy delegate routing node
- [ ] Connect to deployed node in 3box-js
- [ ] Further testing

[2019-09-24 11:39] oed commented on #271
Already implemented with the new Replication module.

[2019-09-24 11:39] #271 closed

[2019-09-24 13:35] dolebas commented on #556
I believe these are the detailed instructions to run the example app?

1. git clone https://github.com/3box/3box-js
2. cd 3box-js
3. npm install
4. npm run example:start

"Open 3box" connects MetaMask properly but nothing happens when I click "Get profile data" or "Query profiles" after sumbitting my eth address which have a profile created via 3box.io

index.js:184 Uncaught TypeError: Cannot read

[2019-09-24 13:51] oed commented on #556
That seems like a bug @dolebas. Will try to have a look at it soon!

[2019-09-24 14:23] oed commented on #556
@dolebas Can you show me the output of your console?

[2019-09-24 14:47] michaelsena opened #606 "Add new onSyncDone documentation to docs site"

[2019-09-24 17:07] dolebas commented on #556
sure! @oed
![image](https://user-images.githubusercontent.com/27515901/65533776-91c24c00-defe-11e9-9882-722360be8db4.png)

[2019-09-24 17:16] oed commented on #556
Hm, seems like it could be some dependency issue.
Can you try running `npm ci` instead of `npm install`?

[2019-09-24 17:36] dolebas commented on #556
Yes, it works after running "npm ci"!

[2019-09-24 17:58] oed commented on #556
Great, closing this issue :)

[2019-09-24 17:58] #556 closed

[2019-09-24 18:10] #567 closed

[2019-09-24 18:46] michaelsena commented on #556
@oed should we update the docs site and the 3box-js readme to include this instruction?

[2019-09-25 09:00] oed commented on #556
@michaelsena it's already in the #605 PR ;)

[2019-09-26 08:59] #518 closed

[2019-09-26 08:59] #519 closed

[2019-09-26 08:59] #520 closed

[2019-09-26 08:59] #581 closed

[2019-09-26 08:59] #583 closed

[2019-09-26 08:59] #584 closed

[2019-09-26 09:25] oed commented on #606
This is available as a draft on gitbook @michaelsena

[2019-09-26 13:16] oed opened #610 "Add optional param to ghostThread limit"

[2019-09-26 17:41] michaelsena commented on #606
Saw it, looks good. Going to merge.

[2019-09-26 17:42] #606 closed

[2019-09-27 15:13] kenshyx commented on #577
@oed to keep the message human readable(ex in metamask confirmation modal) `data.params[0]` must be an utf8 string, right now it's a hex encoded string.

[2019-09-29 20:01] jehunter5811 opened #611 "Error Opening 3Box Space: "OpenError: A mutation operation was attempted on a database that did not allow mutations""
**Describe the bug**
I created a space in one browser, then I logged in using another browser and tried to access that space. I got the following error:

"OpenError: A mutation operation was attempted on a database that did not allow mutations"

It's worth noting that the space.syncDone promise never resolves. @oed said this might be a bug, but I haven't had a chance to open its own dedicated issu

[2019-10-01 08:06] #601 closed

[2019-10-01 08:29] oed commented on #577
@kenshyx I'm pretty sure it has to be hex! It works in MetaMask and all other wallets we've tested with. What wallet are you using?

[2019-10-01 08:32] oed commented on #577
I updated the example in the OP to work with some recent changes in 3box-js.

[2019-10-01 08:40] kenshyx commented on #577
@oed wallet.signMessage will rehash the message

[2019-10-01 08:44] oed commented on #577
Oh, in Ethers.js? What do you mean by "rehash" exactly? The hex encoding is not a hash.

Do you have any ideas how to solve this? Is there perhaps another signing method that doesn't do this in ethers.js? Thing is if we change it to not be hex encoded it will break for all ethereum-provider wallets.

[2019-10-01 10:17] oed commented on #577
@kenshyx I'm not sure I follow. The Wallet interface in ethersjs doesn't seem to show any UX for the user, so I don't understand why you need it encoded as utf-8?

[2019-10-01 10:34] mqklin opened #612 "Js generators break dApps"
**Describe the bug**
Projects that use 3box (like [https://beta.zerion.io](https://beta.zerion.io)) fails in browsers like Edge or Safari (iPad)

**To Reproduce**
1. Go to  [https://beta.zerion.io](https://beta.zerion.io) on Edge or iPad/Safari
2. See error in console

**Expected behavior**
Site should be open

**Desktop (checked on browserstack):**
 - Device: Windows 10
 - Browser: Edge 18 (Lates

[2019-10-01 10:54] kenshyx commented on #577
Yes, you're right I didn't explain the context.
In my tests I've used the [Provider](https://docs.ethers.io/ethers.js/html/api-providers.html) from ethers.js to connect to Metamask(Web3Provider).
After this you can get the current account by calling `provider.getSigner()`. I've used this instance in your example for the `wallet` value, so when a send/sendAsync call occurs it will trigger  the Meta

[2019-10-01 10:57] oed commented on #612
Hey @mqklin Thanks for reporting. Can you please provide more information about the error you're seeing. I don't have an ipad or Edge browser to test with.

[2019-10-01 10:59] oed commented on #612
It would not be very easy to replace the ipfs depencency since most of our architecture relies on that. Depending on your situation though there might be good ways around this :)

[2019-10-01 11:02] oed commented on #611
Hey @jehunter5811 thanks for reporting! Can you provide some more information? In particular I'm wondering what wallet your are using. Is this using MetaMask in firefox or something different?

[2019-10-01 11:47] mqklin commented on #612
Here is the error (Syntax error points to generator `function *`, parser cannot parse asterisk):
![image](https://user-images.githubusercontent.com/9456433/65959178-c5efbc80-e46a-11e9-9b8a-98465ce52c13.png)

Maybe we can transpile this dependency on our side using webpack and babel, but AFAIK this is not a good practise, cause all public libs should support some list of the most popular browsers.

[2019-10-01 12:21] oed commented on #612
I believe we are transpiling our library to es5, but it seems like this is not sufficient in your case. Do you have any other suggestions for how this could potentially be fixed?

Which features of 3box-js are you currently using in your dapp btw?

[2019-10-02 05:37] mqklin commented on #612
We use only `getVerifiedAccounts` and `getProfile`. Maybe this bug should be fixed on `ipfs` side, I'll create an issue there

[2019-10-02 06:58] oed commented on #612
Actually, if those are the only two functions you are using you could use the `dist/3box.api.min.js` which doesn't include ipfs! it's also a much smaller dependency.
Sorry that it's not well documented, we should make that much clearer!

If you end up making an issue in the ipfs repo, let me know so I can track it :)

[2019-10-03 07:47] oed commented on #612
Hey sorry @mqklin I forgot to mention. You can import it like described here: https://github.com/3box/3box-js#optimize-build-for-read-only-3box-api

[2019-10-03 08:25] mqklin commented on #612
I've included `3box` in my build and after some research noticed these pieces of code:

`node_modules/3box/dist/3box.min.js` (147:25398):
[code]

`node_modules/ipfs/dist/index.min.js` (1:2111002):
[code]

`node_modules/ipfs-mfs/dist/index.min.js` (1:772919):
[code]

If I'm not mistaken, they point to the same part of code. As you can see, only `3box.min.js` has generator `function*`, but `ipfs` tr

[2019-10-03 08:38] mqklin commented on #612
Thanks, I had to read the docs more carefully!

I've just tried this code: `import {getProfile, getVerifiedAccounts} from '3box/lib/api';`, but after compiling my build still has `function*` generators, so I'll stick with `<script src="https://unpkg.com/3box/dist/3box.api.min.js"></script>` for now.

Also it would be super cool if you had a babel-plugin for tree-shaking like [lodash](https://www.n

[2019-10-03 08:57] oed commented on #612
Ok, that seems like a bug. It should do tree shaking. @zachferland would you mind having a look at this?

[2019-10-03 09:00] oed commented on #612
Sorry missed that you made two comments.

Thanks for finding this! Will definitely have to look into and fix this!

[2019-10-03 13:49] oed commented on #577
@kenshyx If you have access to MetaMask, why don't you just use `window.ethereum` for 3box?

[2019-10-03 14:42] #602 closed

[2019-10-05 20:58] filips123 commented on #299
@oed Dynamic access should now already be released in stable OrbitDB. So you can now probably start implementing that?

[2019-10-07 00:40] oed opened #620 "level and maybe orbitdb are needed as dependenceis but not packaged?"
Excerpt from #general on discord:

[2019-10-15 01:08] greenkeeper[bot] opened #621 "An in-range update of 3box-orbitdb-plugins is breaking the build 🚨"
## The dependency [3box-orbitdb-plugins](https://github.com/3box/3box-orbitdb-plugins) was updated from `1.0.5` to `1.0.6`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2F3box-orbitdb-plugins-1.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

3box-orbitdb-plugins is a dir

[2019-10-15 02:34] #621 closed

[2019-10-15 08:09] #501 closed

[2019-10-15 08:10] #490 closed

[2019-10-15 08:10] #413 closed

[2019-10-15 08:33] oed opened #622 "Refactor address linking"

[2019-10-15 08:58] oed opened #623 "getPosts in ghostThread should return all seen messages."
Right now `getPosts()` limits the number of messages to 50 by default. We should remove this limitation and return all messages that we know of.

The limit should be passed to the `getPosts` method when backlog is being requested (https://github.com/3box/3box-js/blob/develop/src/ghost.js#L28).

Old posts should never be removed from the internal backlog (https://github.com/3box/3box-js/blob/develo

[2019-10-15 09:03] oed opened #624 "Use peer-monitor to see if peers left without sending a leaving message"
Right now users will only be removed from the `_members` list if the explicitly call `thread.close()`. In many cases this is not going to happen. A user might refresh the page, close it, or otherwise. A way around this is to monitor for changes in the peer list. This can be done with https://github.com/ipfs-shipyard/ipfs-pubsub-peer-monitor/. The peer monitor will emit an event when peerIds join/l

[2019-10-15 09:09] oed commented on #624
Ah, I see that this is already handled by ipfs-pubsub-room! Closing.

[2019-10-15 09:09] #624 closed

[2019-10-16 21:43] michaelsena opened #625 "Create basic architecture diagram for Ghost Threads"

[2019-10-16 21:46] #610 closed

[2019-10-16 21:48] #569 closed

[2019-10-16 21:48] #600 closed

[2019-10-16 21:48] #565 closed

[2019-10-16 21:48] #562 closed

[2019-10-16 21:48] #563 closed

[2019-10-16 21:49] #585 closed

[2019-10-16 21:49] #564 closed

[2019-10-16 21:49] #571 closed

[2019-10-16 21:49] #568 closed

[2019-10-16 23:21] #593 closed

[2019-10-16 23:21] #599 closed

[2019-10-17 12:16] greenkeeper[bot] opened #628 "An in-range update of ethers is breaking the build 🚨"
## The dependency [ethers](https://github.com/ethers-io/ethers.js) was updated from `4.0.37` to `4.0.38`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fethers-4.0.38).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ethers is a direct dependency of this project, and **it is v

[2019-10-21 17:38] oed commented on #623
Also change the default number of messages sent in the backlog to 100.

[2019-10-21 17:51] oed commented on #625
This is a bit too abstract I think. Can you add a few sentences of what this needs to show @michaelsena ?

[2019-10-21 17:53] michaelsena commented on #625
Maybe online peers (storage), signaling server (bootstrap/peer discovery), pubsub room (networking), etc, etc. Basically how messages are sent and stored, and how nodes come online. Just to give people a visual to supplement the words we have. @oed

[2019-10-22 12:46] oed opened #633 "GhostThreads: Add ability to delete a post"
We likely need to introduce the concept of a "postId" similar to persisted threads. This id would simply be the CID (multihash) of the post. Then we would enable the removePost method which would allow users to remove their own posts.

[2019-10-22 14:42] #588 closed

[2019-10-22 23:16] greenkeeper[bot] opened #635 "Update IDW to latest version"
## The devDependency [identity-wallet](https://github.com/3box/identity-wallet-js) was updated from `0.2.0` to `0.2.1`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fidentity-wallet-0.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

identity-wallet is a devDependency of

[2019-10-24 13:49] leonprou commented on #515
@oed Thanks, we tried again and it worked. I think I'll close this.

[2019-10-24 13:49] #515 closed

[2019-10-25 13:16] jehunter5811 commented on #611
Sorry for the delay in getting back to you @oed. I'm using a custom, custodial wallet (SimpleID). Do you think that's the problem?

[2019-10-25 13:48] oed commented on #611
@jehunter5811 it shouldn't be a problem as long as it conforms to the standard ethereum rpc-provider api.
It could have something to do with permissions in the private tab and localstorage/indexedDB perhaps though.

[2019-10-28 12:23] oed opened #638 "Use ethers.js v5"
Reduce build size by using only the modules we need from the ethers.js v5 library.

[2019-10-29 01:50] brunobar79 commented on #553
Same thing happening to me with an old account and 3box v13.1.0

[2019-10-30 09:35] oed commented on #620
Closing this for now. The people that reported it have been unable to recreate the issue.

[2019-10-30 09:35] #620 closed

[2019-10-30 10:29] oed commented on #553
Thanks for reporting @brunobar79 this seems to be happening randomly and I've been unable to recreate it consistently. Does this happen for you every time you call `Box.openBox`? Does this block the `openBox` promise from returning?

[2019-10-30 18:49] brunobar79 commented on #553
`0xE46aBAf75cFbFF815c0b7FfeD6F02B0760eA27f1`

[2019-10-31 10:19] oed opened #640 "New API for creating a 3box instance"
Right now 3Box is gets instantiated at the same time as the user is authenticated. We have been exploring a new way of creating a 3Box instance that would allow developers to join threads and sync data without authenticating the users. Users can then be authenticated later when needed. Below is a first draft of how this protocol could look like:

### Box.create
[code]
Creates an instance of 3box.

[2019-10-31 11:03] oed commented on #553
Thanks @brunobar79 I've tried to replicate the error by syncing the data of your address but have not been able to. If you run the example dapp in this repo (latest develop) do you still see this issue?

[2019-10-31 22:47] ps2-controller commented on #553
This is happening with me as well, 100% of the time: 0xfD77Ee24B43F3Aa0f7389dF2B43d3eF5BF0d41DC

[2019-11-01 02:15] ps2-controller commented on #553
Here's a sample code which will succeed with address and privKey for:
0x32684523CfA7F9CFEBBc954Ad40E4f3521BA9bBc

but fail for
0xfD77Ee24B43F3Aa0f7389dF2B43d3eF5BF0d41DC

I have also used the failing address in the past for 3box, but the succeeding address is new.
Hope this helps!
[code]

[2019-11-01 02:38] brunobar79 commented on #553
Apparently I was signing the messages differently that I did in the past when I used 3box via MetaMask.  The signatures are not matching at that's why old accounts like this one were not matching and new ones don't have that problem (because there's nothing to match against (?)

 I've fixed that on my end and now I'm able to open the box and the space 🎉   but I'm still getting the same error while

[2019-11-01 02:50] brunobar79 commented on #553
I've deployed the latest example from develop branch to https://3box-example.netlify.com
Here's a video where you can see that using MetaMask (not a custom provider) I can open the box and the space but it breaks while trying to write any date to the space (public or private) with the same error.

http://recordit.co/i4rHwO6uyT

[2019-11-01 11:07] oed commented on #553
Thanks @ps2-controller Can you confirm what version of 3box you are using? Your code example is slightly helpful but it's hard for me to replicate without access to the private key that is causing the issue unfortunately. I was able to sync the data locally without any problem, but it might be an issue with trying to append an entry to the 3box "rootstore" (internal datastructure) while openBox is

[2019-11-01 17:28] brunobar79 commented on #553
@oed I was (temporarily) generating an invalid signature (or at least different to what MetaMask has been doing forever).  Is it possible that the first time I opened the space "InstaPay" I did it with the wrong signature and now MetaMask is trying to match the correct expected one?

That theory makes sense because I can create and write into other spaces with that account.

[2019-11-01 18:07] oznekenzo opened #641 "Error when joining thread for first time"
Am seeing an error when an account tries to join a new thread for the first time.  I believe this is regardless of whether the account has opened the space associated with the thread before.  This error goes away and user is able to join thread on the second try.  This is preventing the user from posting to their wall on first login.

Am getting this error:
![Screen Shot 2019-11-01 at 2.03.09 PM.p

[2019-11-01 19:12] oznekenzo commented on #641
Correction! It seems it does work if the user has opened the corresponding space before

[2019-11-01 19:49] oznekenzo commented on #641
Correction to the correction! Seems it happens some of the time if you've already opened the space, but every time if the space hasn't been opened before.

[2019-11-01 20:05] ps2-controller commented on #553
Hi @oed Here's a throwaway keypair which seems to produce the issue:
code:

[code]
Public Key: 0x706e1fbD182827Aa41a507510a31f392610B695c
Private Key: 0x6404e68b4473c1f9406cb6cfa09cfccc4ce897930319132eeb00166b9a70ff6d
Result:
looks like it is spotting the `data.params` parameter 3Box is sending as undefined
[code]
It looks like it's spotting the `param` property of the `data` object passed as an a

[2019-11-01 20:37] ps2-controller commented on #553
Actually, I'm fairly certain that's a separate issue - I'll make a separate issue for it

[2019-11-01 20:50] ps2-controller opened #642 "index.js:311 GET https://beta.3box.io/address-server/odbAddress/0x{address} 404"
**Describe the bug**
box.openBox() seems to be calling

**To Reproduce**
Steps to reproduce the behavior:
1. Clone [this repo](https://github.com/ps2-controller/sig-invalid)
2. Run `yarn start`
3. Open the console
4. Type anything into the input bar to create a unique keypair
5. Click the button
6. Observe error in the console as well as logging, which shows 3Box `data.params[0]` in the `sendAsync

[2019-11-04 08:12] oed commented on #553
@brunobar79

Yes, this is most likely it. A workaround of this issue is to remove the entry for this space from the rootstore and reopen it with the correct key. Something like:
[code]

And yes, we should definitely have better checks in place. The code that you link doesn't really check for the part of the code that generated this issue. Oh, would you mind explaining how you where signing differe

[2019-11-04 09:25] oed commented on #641
This might be because the space DID is not replicated on the pinning-node yet. Are you opening the thread with the current user as the `firstModerator`? Can you share the code?

[2019-11-04 15:01] oznekenzo commented on #641
Yes - I'm opening the thread with the current user as the first moderator.
Code:
[code]

[2019-11-04 15:03] oed commented on #641
As a workaround I would recommend doing this instead:
[code]

[2019-11-04 15:59] oznekenzo commented on #641
@oed I'm seeing the error despite using `space.DID` instead of eth addr

[2019-11-04 17:06] michaelsena opened #643 "Add support for VacThreads (3Box threads using vacp2p)"
This might be a bit premature, but wanted to add a placeholder

This epic adds another thread type to the 3Box network, to compliment our two other thread types: Persistent (OrbitDB) and Ghost (libp2p).

[2019-11-04 22:37] oznekenzo commented on #641
Update: Although the error persists and results in the same log and prevents fetching the thread, there was a bug in the dapp that prevented fetching the same thread on onSyncDone.  The thread is successfully fetched the second time around in onSyncDone on (still first signin), so there is less urgency to solve this issue, if there is one.

[2019-11-05 13:49] oed opened #644 "Change references from muport to 3ID"
And remove call to Infura

[2019-11-05 14:25] oed opened #645 "Use deployed Delegate Router"

[2019-11-06 14:00] oed commented on #635
Should be updated to 0.3.0 instead.

[2019-11-07 15:28] oed commented on #642
Thanks for a great bug report @ps2-controller! Do you know which method is being called with the `data.params[0]` being empty?

[2019-11-08 02:00] ps2-controller commented on #642
openBox

[2019-11-08 07:40] oed commented on #642
Sorry if I was unclear. I meant the method used in the json-rpc call, i.e. **`data.method`**.

[2019-11-08 19:07] tibetsprague opened #647 "When saving data seeing MetaMask - RPC Error: "message" must be a nonempty string."
**Describe the bug**
Whenever I call `Box.openBox` I see the following error in the console

`MetaMask - RPC Error: "message" must be a nonempty string.
{code: -32603, message: ""message" must be a nonempty string.", data: {…}, stack: "Error: "message" must be a nonempty string.↵    at…eogaeaoehlefnkodbefgpgknn/background.js:1:1195294"}
code: -32603
data: {originalError: {…}}
message: ""message" m

[2019-11-11 10:09] oed commented on #647
Thanks for reporting. Any chance you could provide the whole stack trace?
Is this blocking `Box.openBox` from opening, or are things still working?

I wonder if something was maybe changed in metamask? 🤔

[2019-11-11 20:17] oznekenzo opened #648 "Type error in 3ID when using Authereum"
Am getting the error `Cannot read property 'toLowerCase' of undefined` when trying to login using Authereum at line 1003 in index.js of 3id - can't tell if this is still an issue with Authereum (they should always pass an address) - or a small check in the lib - lmk

the snippet failing in 3id:
[code]

[2019-11-12 08:40] oed commented on #648
Moved this issue to 3box-js since this is where the error seems to be happening.
Are you sure you actually get the ethereum address from authereum? Looks like it's undefined.

[2019-11-12 14:07] #623 closed

[2019-11-12 14:07] #598 closed

[2019-11-12 20:39] tibetsprague commented on #647
Things are still working. I doubt the stack is very useful:

`"Error: "message" must be a nonempty string.
    at new i (chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/background.js:1:1147873)
    at s (chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/background.js:1:1149623)
    at Object.internal (chrome-extension://nkbihfbeogaeaoehlefnkodbefgpgknn/background.js:1:1149909)
    at f (chro

[2019-11-12 20:41] tibetsprague opened #649 "Box.getProfiles fails with a CORS error on localhost"
**Describe the bug**
When I try to call Box.getProfiles in my dev environment I get the following error:
`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**De

[2019-11-13 12:56] oed commented on #649
Thanks for creating a ticket for this! We are working on an update to our APIs and hopefully that will fix this. Will let you know when that is ready to see if this issue is fixed.
In the meantime using `Box.getProfile` should work fine :)

[2019-11-13 12:57] oed commented on #647
Thanks. Hopefully this isn't causing any other issues. Let us know if anything changes with this!

[2019-11-13 20:28] tibetsprague commented on #647
Well the other thing we are seeing which started around the same time as this, but may be unrelated, is that saving any data to a profile or space now takes 10+ seconds every time. It used to be much faster. Is this known @oed ?

[2019-11-14 08:42] oed commented on #647
@tibetsprague is every `space.public.set` call takiing 10+ seconds? If so that should definitely not be the case!

[2019-11-14 21:59] tibetsprague commented on #647
box.public.setMultiple is taking around 10 seconds every time, space.public.set is also taking around that though i have seen it take up to 30 seconds

[2019-11-15 08:06] oed commented on #647
I'll have to investigate this. It shouldn't take more than a few ms. Is this happening for all accounts or just a few specific ones?

[2019-11-15 13:41] froid1911 opened #651 "Can not verify signed Claims from 3ID"
**Describe the bug**
When I open a space, a new 3ID is generated. If I sign with the appropriate private key of the 3ID a claim, then I expect that the signed claim could be verified through the idUtils, but its not.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Box ```const box = await Box.openBox(address, provider)```
2. Open a Space ```const space = await box.openSpace(spacename)

[2019-11-16 00:59] tibetsprague commented on #647
yes, every account ive tried

[2019-11-16 09:36] oed commented on #651
This is a quirk with space 3IDs. They way you can verify the claims is to call:
[code]

[2019-11-16 09:36] #651 closed

[2019-11-18 10:34] oed commented on #647
I'm not able to recreate this. What version of 3box-js are you using?
How are you measuring the time it takes? Can you try this?
[code]

Is [this your code](https://github.com/daostack/alchemy/pull/1198/files#diff-c6e6d86de81efe35087f5b368cb5225cR75-R87)?
If so it looks like the problem is that you call `Box.openBox` every time you want to set data. This function should only be called once to crea

[2019-11-18 12:27] oed opened #653 "Space Identity API"
Currently there is no easy way for develoipers to sign claims and handle encrypted data within a space. This api provides a means of doing so.

### `space.user.DID`

This is a static property that returns the 3ID of the user for this space.

### `space.user.signClaim (payload, opts)`

- `payload` - the payload of the claim
- `opts.expiresIn` - the number of seconds the claim is valid

Returns a JW

[2019-11-18 14:50] oed commented on #577
We have released a library called IdentityWallet. From now on it's recommended to use that instead. See the documentation here: https://docs.3box.io/build/wallets

[2019-11-18 14:50] #577 closed

[2019-11-18 19:10] tibetsprague commented on #647
Yes that is the code. 3box v1.13.1. And you're right, its the openBox that is taking so long (right now im seeing around 21 seconds every time) though the box.public.setMultiple is still taking taking 7-10 seconds itself. So your suggestion is that we store the box object in Redux, or localStorage or something? That seems odd to me. It would be nice if openBox handled this kind of caching on its o

[2019-11-19 08:12] oed commented on #647
Yeah, I would recommend using redux to store the box object. The reason for this is that it needs to have an instance of ipfs and orbitdb internally. I definitely agree that it would be nice if 3box did this on it's own. We've been hesitant to do it since it would basically mean adding ipfs and orbitdb to the global scope.
If you have other ideas we would be more than happy to consider them :)

[2019-11-19 09:34] oed opened #654 "Private threads"
There are a few different ways private threads could be implemented and we need to decide on a path forward. Below is a high level exploration of our different options.

## Using OrbitDB
For persisted threads we use the `feedstore` currently. Using this structure we can implement private threads in a few different ways.

### Encrypt payloads
Simply encrypt the payloads of the entries in the feedst

[2019-11-20 10:13] greenkeeper[bot] opened #655 "An in-range update of @ethersproject/providers is breaking the build 🚨"
## The dependency [@ethersproject/providers](https://github.com/ethers-io/ethers.js) was updated from `5.0.0-beta.144` to `5.0.0-beta.145`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2F%40ethersproject%2Fproviders-5.0.0-beta.145).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-11-20 10:20] #655 closed

[2019-11-20 14:44] PeterTheOne opened #656 "Fix vulnerabilities (ipfs > ipld-zcash > zcash-bitcore-lib > lodash)"
**Describe the bug**
There are vulnerabilities in some dependency. I don't want to use dependencies with security issues.

upstream: https://github.com/ipfs/js-ipfs/issues/2526

**To Reproduce**
Steps to reproduce the behavior:
`npm audit`

**Expected behavior**
I expect that there are no vulnerabilities.

**Additional context**
Add any other context about the problem here.

[code]

[2019-11-20 14:50] oed commented on #656
Thanks for reporting. We will be updating the ipfs version we are using soon!

[2019-11-20 14:59] PeterTheOne commented on #656
Update to ipfs v0.39.0 should fix it.

[2019-11-20 15:00] oed commented on #656
:+1: We need to be a bit careful though. Some people have been reporting problems in recent versions of js-ipfs!

[2019-11-21 13:59] #638 closed

[2019-11-21 14:57] oed opened #658 "Confidential Threads"
Confidential threads are a type of private threads in 3box which encrypts the messages in the thread. This provides confidentiality of the messages themselves, but the members of the thread and when they post are public. The text below roughtly describes how these can be implemented on top of the existing 3Box threads.

## Instantiation

All messages are encrypted witn a symmetric key `sk`. This k

[2019-11-21 15:00] oed commented on #654
Closing in favour of https://github.com/3box/3box-js/issues/658

[2019-11-21 15:00] #654 closed

[2019-11-26 13:09] oed opened #660 "Add create and auth methods"
https://github.com/3box/3box-js/issues/640

[2019-11-26 13:11] oed opened #661 "Add new joinThread method."

[2019-11-26 13:17] oed opened #662 "Update to OrbitDB v0.22"
The new orbitdb update changes how the local cache is stored.

Test to make sure:
* Can sync old data form network
* Can load local data

[2019-11-27 09:20] #628 closed

[2019-11-27 17:39] #625 closed

[2019-12-02 18:35] #635 closed

[2019-12-02 18:35] #622 closed

[2019-12-02 20:01] greenkeeper[bot] opened #665 "An in-range update of identity-wallet is breaking the build 🚨"
## The devDependency [identity-wallet](https://github.com/3box/identity-wallet-js) was updated from `1.0.0-beta.2` to `1.0.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fidentity-wallet-1.0.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

identity-wallet is a devDepende

[2019-12-03 12:34] oed commented on #665
#666

[2019-12-03 12:34] #665 closed

[2019-12-03 23:15] oznekenzo opened #668 "Ghost thread getPosts returning posts without postId"
The ghost threads api end point is not returning postIds with each post.

[2019-12-04 08:43] oed commented on #668
Currently `postId` is not supported by ghost threads. We might want to add them in the future though. Do you need this for a particular reason?

[2019-12-04 14:31] oznekenzo commented on #668
One of our users wants to hack on the chatbox component for the gitcoin issues - it's likely we need it for https://github.com/3box/3box-chatbox-react/issues/22 or the solutions might get pretty hacky 😬 no?

[2019-12-04 14:40] oed commented on #668
I'm not sure :) Why is `postId` needed for this hack?

[2019-12-04 14:42] oznekenzo commented on #668
The gitcoin bounty calls for attributing likes to messages

[2019-12-08 01:26] greenkeeper[bot] opened #671 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.7.4` to `7.7.5`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.7.4` to `7.7.5`.
- The `devDependency` [@babel/plugin-proposal-object-rest-spread](https://www.npmjs.com/package/@babel/plugin-pro

[2019-12-09 16:23] #521 closed

[2019-12-09 20:35] adamsoffer opened #675 "`linkAddress` functionality no longer working in v1.14.0"
**Describe the bug**
Calling `linkAddress` no longers links an external address after updating from v1.13.2 to v1.14.0

**To Reproduce**
Steps to reproduce the behavior:
1. Install v1.13.2 and call `linkAddress` on an external accout you'd like to link. Notice it works.
2. Install v1.14.0 and repeat step 1. There's no error, but the external account doesn't in fact get linked.

**Expected behavior

[2019-12-10 10:25] #660 closed

[2019-12-10 10:25] #661 closed

[2019-12-10 10:43] oed commented on #675
Hey @adamsoffer thanks reporting! Can you provide an example of how you are calling `linkAddress`?

[2019-12-10 10:46] oed opened #676 "Set libp2p.wsStarIgnoreErrors: true"
See here for more details:
https://github.com/ipfs/js-ipfs/issues/2508#issuecomment-553395312

[2019-12-10 10:46] oed commented on #648
Is this still an issue @oznekenzo?

[2019-12-10 10:47] oed commented on #647
@tibetsprague Hey, are you still experiencing the first error you reported?

[2019-12-10 18:47] oznekenzo commented on #648
Nope - closing

[2019-12-10 18:47] #648 closed

[2019-12-10 19:08] adamsoffer commented on #675
Sure! Looks something like this...

[code]

[2019-12-11 01:42] tibetsprague commented on #647
the original error message seems to have gone away!

[2019-12-11 01:42] #647 closed

[2019-12-16 14:55] oed commented on #675
I see that you call `replace` on the `message` @adamsoffer. Which of the two versions are you signing? You have to provide a signature over the one that is included in the proof!

[2019-12-16 15:39] adamsoffer commented on #675
Ah yeah that's just so I can render the message in HTML. I am indeed signing the message with `\n`. Works in `1.13.2`.

[2019-12-16 16:01] oed commented on #675
Ok good. Can you try running this and see if it throws any errors?
[code]
I'm wondering if anything broke when we updated to use this library.

[2019-12-16 16:57] adamsoffer commented on #675
@oed No errors. Returns the added proof.
[code]

[2019-12-17 18:31] oed opened #680 "Implement space id api"

[2019-12-18 10:30] oed opened #681 "[placeholder]: db sync speedup changes"

[2019-12-18 16:21] michaelsena commented on #668
Already fixed this. Closing the issue.

[2019-12-18 16:21] #668 closed

[2019-12-18 17:01] #681 closed

[2019-12-19 09:39] oed commented on #676
Passing this option throws an invalid config error. Seems like the configuration validator in libp2p is too strict. Might be fixed in a newer version of ipfs. Holding of on this for now.

[2019-12-19 16:21] PeterTheOne opened #682 "Firefox: Error: "Couldn't listen on any of the servers""
**Describe the bug**
Console error `Error: "Couldn't listen on any of the servers"`

**To Reproduce**
Not sure on which function call this happens, but websockets seem to disconnect directly on connection.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Firefox 71.0 (64-bit)
 - Version 3box 1.14.0

**Smartphone (please complete the following information):**
 - OS:

[2019-12-20 11:05] oed commented on #682
I assume that this happens when you call `Box.openBox`? Does this happen every time or just sometimes?

[2019-12-20 12:57] oed opened #683 "Documentation for space user api"

[2019-12-20 17:09] RachBLondon opened #684 "Capitalization Checksun error."
**Describe the bug**
Capitalization Checksun error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  3box.io/hub
2. Login and open the inspector. The error below is shown for every space. This error shows, but it does not prevent me accessing hub as normal. Inside hub everything works as expected, except one other error which may, or may not related . - in the activity section, some ac

[2019-12-20 23:52] #662 closed

[2019-12-22 11:59] PeterTheOne commented on #682
I think it was on `Box.openBox` and it was very consistently happening when I made the report. But when I tried now it worked.

[2019-12-22 12:04] dacom-dark-sun commented on #682
This usually happens when a connection is established with the SWARM nodes that are specified through the IPFS config. At the same time, the swarm-nodes do not always respond (strange, but this happens even on private ws-star servers), and therefore, we get an unstable error about the impossibility of establishing a connection.

In order to fix this, the connection to the swarm-nodes must be separ

[2019-12-27 08:16] oed commented on #682
Unfortunately this is not possible @dacom-dark-sun. See here: https://github.com/ipfs/js-ipfs/issues/2508

[2019-12-28 23:51] jehunter5811 opened #687 "Module not found: Can't resolve 'multicodec/src/name-table'"
**Describe the bug**

After installing 3box (npm i 3box) and requiring it in a React project (const Box = require('3box')), the module error referenced is thrown:

Module not found: Can't resolve 'multicodec/src/name-table'

I tried to manually install the multicodec module but that didn't resolve the problem. Downgrading to 1.13.2 (which was the last version I worked with) allows me to keep worki

[2019-12-29 17:32] jehunter5811 commented on #687
The issue appears to be tied to the ipfs-bitswap library which is a 3box dependency. It is referencing the `multicodec/src/name-table` file which does not seem to exist.

[2019-12-30 15:37] #675 closed

[2019-12-31 08:46] oed commented on #687
Thanks @jehunter5811, I'm not sure why this is happening for you. What does your build process look like? Perhaps @oznekenzo can provide some help here!

[2019-12-31 15:19] jehunter5811 commented on #687
I just tried again with a fresh project. Here's the flow:

`npx create-react-app app-name`
`cd app-name`
`npm i 3box`

In app.js, simply adding the following line causes this error as soon as the app is run:

`const Box = require('3box')`

[2020-01-02 11:30] jcastro-geodb commented on #687
The version of ipfs-bitswap should be updated to 0.26.2 to fix this issue, they released a hotfix to address it (https://github.com/ipfs/js-ipfs-bitswap/releases/tag/v0.26.2). Not sure if you can do it here or it is responsibility of the ipfs module instead.

[2020-01-02 11:59] oznekenzo commented on #687
A similar problem I experienced was with a depency updating a file from .js to .json and the file type was not accepted in the webpack configs, had to update to include json:
[code]

[2020-01-02 12:19] oed commented on #687
@jcastro-geodb Thanks for the info! We're still hesitant to update the js-ipfs version at this point since we need to make sure it doesn't break anything in OrbitDB.

Hopefully the problem can be solved by what @oznekenzo suggested. Lmk if there are still any issue here!

[2020-01-03 18:46] #680 closed

[2020-01-03 18:46] #683 closed

[2020-01-03 18:48] #644 closed

[2020-01-06 19:25] oznekenzo commented on #687
After further inspection, the fix I suggested was for an issue in the same library but with a different file: `multicodec/src/base-table.json` - a fix for an issue with `/name-table` was suggested elsewhere: `Downgrade multicodec to version 0.5.6 before required file was removed`

[2020-01-08 10:52] oed opened #692 "Update orbitdb & ipfs"

[2020-01-08 12:22] oed opened #693 "Add confidential threads"
From a devex perspective it should be as simple as adding an additional flag: https://github.com/3box/3box-js/issues/658

[2020-01-08 12:24] oed opened #694 "Tests confidential threads"
- Test that everything works as intended
- Implement option in example dapp
- What happens if you open a confidential thread that you don't have read access to?

[2020-01-08 15:08] oed opened #695 "GhostThreads only work when authenticated"
Also troubleshoot `openThread` not working as expected

[2020-01-09 09:47] greenkeeper[bot] opened #696 "An in-range update of identity-wallet is breaking the build 🚨"
## The devDependency [identity-wallet](https://github.com/3box/identity-wallet-js) was updated from `1.1.0-beta.1` to `1.1.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Fidentity-wallet-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

identity-wallet is a devDepende

[2020-01-10 10:47] #695 closed

[2020-01-12 18:51] JasoonS commented on #687
@oznekenzo is correct here. Quick fix is to run `npm i multicodec@0.5.6`

[2020-01-13 12:00] JasoonS opened #699 "3box js is incompatible with Crisp (chat client)"
**Describe the bug**
3box throws this error when running `Box.openBox` or `Box.openSpace` on a website that has the [crisp client](https://crisp.chat/en/) installed.

The exact error message that appears if crisp is used on the website is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Load any app that uses 3box locally ( eg. https://github.com/3box/3box-dapp/ )
2. Add the following

[2020-01-13 12:10] oed commented on #699
Looks like `is-circular` is a dependency for some things that js-ipfs uses. I think you're right about crisp having some sort of side effect. Any insight into what it could be doing would be helpful!

[2020-01-13 12:30] JasoonS commented on #699
Unfortunately I don't have any more insight. :(

I'm integrating 3box into v2 of https://wildcards.world , so hopefully we can find a solution before we want to launch (or I'll need to find another chat client).

[2020-01-13 12:41] oed commented on #699
@JasoonS Do you know if the crisp client is open source? That would make things easier to debug. What timeline are you looking to release your v2 on?

Wildcards looks cool :)

[2020-01-13 14:20] JasoonS commented on #699
Thanks :+1:

Doesn't seem like it is opensource :/ They have lots of code, but none of them seem to be the frontend integration: https://github.com/crisp-im

We will hopefully launch v2 in about a month. It is a pretty big redo, we replacing drizzle+truffle with thegraph.com and adding 3box and a few new features mostly enabled by thegraph.

I'll take a look at some alternatives such as https://ww

[2020-01-13 14:26] JasoonS opened #700 "Unable to use Wallet Connect with Argent and 3box"
**Describe the bug**
Argent is able to sign messages, but those messages seem to be returned to the browser in a bad format for ERC1271.

The exact error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Login to 3box with WalletConnect and scan barcode with your argent app.
2. Open browser console and sign the 3box messages from argent.

**Full stack trace**
Add any other cont

[2020-01-13 18:13] zachferland opened #701 "Bug: Not loading local data, only remote"
To be filled out with more details soon

But appears that it thinks there is no local heads to load from, likely still loading a lot of the db data from ipfs locally still.

[2020-01-13 18:34] zachferland commented on #701
new indexeddb being created on each page load, orbit cache addresses them with a hash, assuming this hash must be based on parts of the orbitdb identity, which must be based on ipfs identity. And in our implementation ipfs identity changes on each load (for multi tab support with pubsub)

[2020-01-13 18:38] zachferland commented on #701
yes based on id, can be passed in as configured default cache with fixed path to resolve this, pr coming shortly

[2020-01-13 18:41] zachferland commented on #701
but a migration is not as feasible

[2020-01-13 19:02] zachferland commented on #701
https://github.com/3box/3box-js/pull/702

[2020-01-13 20:42] #701 closed

[2020-01-13 21:49] oznekenzo opened #703 "thread.listMembers() and/or thread.onNewCapabilities() not working"
After updating library to 1.16.1, in ghostthreads, am not able to get a list of members that are joined in the chat - despite both posting to it in the current session.

This will likely block the release of the updated library in the Chatbox plugin

[2020-01-16 19:31] greenkeeper[bot] opened #705 "An in-range update of tweetnacl is breaking the build 🚨"
## The dependency [tweetnacl](https://github.com/dchest/tweetnacl-js) was updated from `1.0.1` to `1.0.2`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Ftweetnacl-1.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tweetnacl is a direct dependency of this project, and **i

[2020-01-19 06:35] greenkeeper[bot] opened #706 "An in-range update of @ethersproject/hdnode is breaking the build 🚨"
## The dependency [@ethersproject/hdnode](https://github.com/ethers-io/ethers.js) was updated from `5.0.0-beta.135` to `5.0.0-beta.136`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2F%40ethersproject%2Fhdnode-5.0.0-beta.136).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@e

[2020-01-21 21:41] michaelsena commented on #361
Closing, stale

[2020-01-21 21:41] #361 closed

[2020-01-22 10:29] oed commented on #687
We are currently working on a fix for this by updating ipfs to the latest version.

[2020-01-23 17:39] msterle opened #707 "Ensure DID is always included in PIN_DB messages"

[2020-01-28 08:54] oed opened #711 "Sign open/pin db requests"
Right now requests being sent to the pinning room are not signed.

[2020-01-28 08:55] oed opened #712 "Use ipfs-pubsub-room instead of orbit-db-pubsub"
For the pinning room

[2020-01-28 08:56] oed opened #713 "Size limit for db entries"
Right now there is no limit when calling `space.public.set` for example. This can lead to issues.

[2020-01-28 12:22] msterle opened #714 "Ensure 3box-js tests are consistent"

[2020-01-29 08:56] oed opened #715 "Debug and fix Authereum integration"

[2020-01-29 13:16] oed commented on #653
Already implemented.

[2020-01-29 13:16] #653 closed

[2020-01-29 16:34] JasoonS opened #716 "Version 1.16 doesn't load twitter verifications on all accounts (that work with <= v1.15)"
**Describe the bug**
For Some ethereum addresses, v1.16 doesn't load the twitter verification correctly.

**To Reproduce**
Run this code with a prior version of 3box installed:
[code]

Note the output particularly of the `{ verifiedAccounts }`. Then switch to the latest version of 3box v1.16.1

And you will notice that there is no twitter verification.

**Expected behavior**
v1.16.1 should also lo

[2020-01-29 17:00] michaelsena opened #717 "Add documentation for confidential threads to readme"

[2020-01-29 17:09] JasoonS commented on #716
Actually this issue really confuses me. It isn't working on V1.15 or lower anymore.

All I know is that the "0x9AF481276b075e036BC23E887a8Bd275e69Ef74C" and "0x373d8388C1Ab8F88B7B9C4EAc8C1531D683D9deE" are twitter verified. But the `getVerifiedAccounts` function doesn't show it. On the `hover-profiles` both of these accounts twitter verifications show.

[2020-01-30 00:06] greenkeeper[bot] opened #718 "An in-range update of tweetnacl-util is breaking the build 🚨"
## The dependency [tweetnacl-util](https://github.com/dchest/tweetnacl-util-js) was updated from `0.15.0` to `0.15.1`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2Ftweetnacl-util-0.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tweetnacl-util is a direct dependency o

[2020-01-30 11:46] oed commented on #718
A relevant notice was added in the readme of this package: https://github.com/dchest/tweetnacl-util-js/commit/05224d8de0b4d5363c6bdb090089b80651673dd0

[2020-01-30 12:48] oed commented on #716
Not totally sure why, but it seems like this is working on latest develop. Can you test this with `3box@1.16.2-beta.1` and see if it works? I'll make sure to let you know when the new version is released!

[2020-01-31 14:49] JasoonS commented on #716
@oed This is working on `3box@1.16.2-beta.1` :tada: Thanks for the help!

It didn't work initially when I tried `3box@1.16.2-beta.3`; but maybe that was a npm caching issue or something weird.

[2020-01-31 14:52] oed commented on #716
@JasoonS yeah, sorry i've been testing some other stuff with the later beta releases keep using beta.1 for now until we release the next version 👍

[2020-01-31 14:53] JasoonS commented on #716
Perfect. Once again, I really appreciate it!

[2020-01-31 20:57] balasan commented on #653
I'm having some trouble verifying a claim created using `space.user.signClaim`
getting this error:
[code]

[2020-01-31 21:12] balasan commented on #653
`user._3id.signJWT` works though, so seems like the 'space' option is breaking the verifier right now

[2020-01-31 21:14] oed commented on #653
Can you test `user._3id.signJWT(payload, { space: 'spaceName' })`?
`user._3id.signJWT` is equivalent to `box._3id.signJWT`, i.e. not signing with space specific key.

[2020-01-31 22:12] balasan commented on #653
yeah, same error with `user._3id.signJWT(payload, { space: 'spaceName' })`

[2020-02-03 10:35] oed commented on #653
Hm, I'm unable to replicate this @balasan. Would you mind creating a separate issue with 3box version and anything else that might be specific to your setup?

[2020-02-03 19:24] balasan opened #720 "Error verifying claim created using `space.user.signClaim`"
**Describe the bug**
Error verifying claim created using `space.user.signClaim`

3box-js version: 1.16.1

**To Reproduce**
[code]
results in this error:

[code]

Notes:
`space.user._3id.signJWT` works without errors
`space.user._3id.signJWT(payload, { space: 'spaceName' })` results in the same error as above

**Desktop (please complete the following information):**
 - OS: MacOS Mojave
 - Browser C

[2020-02-03 21:24] adamsoffer commented on #687
Hey @oed 👋- has this been addressed in the latest release?

[2020-02-04 10:13] oed commented on #687
@adamsoffer yeah, it's still not released. Aiming to have it out this week. If you really need it right now you can try `npm i 3box@next`

[2020-02-04 13:11] oed commented on #720
Ah, I see. This is an unfortunate consequense of the did-jwt library that we are using. Try using this to verify the claim:

[code]

[2020-02-05 02:02] balasan commented on #720
ah, ok, that works!

[2020-02-05 02:02] #720 closed

[2020-02-05 18:19] oed commented on #716
@JasoonS new 3box version that fixes this has been released!

[2020-02-05 18:19] #716 closed

[2020-02-05 18:19] #687 closed

[2020-02-05 18:19] #692 closed

[2020-02-05 18:20] oed commented on #687
This is fixed in the new version of 3box-js since ipfs was updated to the latest version.

[2020-02-05 18:21] #715 closed

[2020-02-06 15:42] #707 closed

[2020-02-12 12:10] j-mars opened #723 "Cannot add 3box with yarn"
**Describe the bug**
Trying to install the package with yarn gives the following error:

yarn
yarn install v1.22.0
info No lockfile found.
[1/4] Resolving packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/3box: Not found".

**To Reproduce**
in a project do yarn add 3box or yarn if you have it in your package.json

**Expected behavior**
A clear and concise description of

[2020-02-12 14:31] oed commented on #723
This is a bug in yarn. You can find a workaround here: https://github.com/yarnpkg/yarn/issues/7902

It also looks like they just released a fix for it.

[2020-02-12 14:31] #723 closed

[2020-02-14 04:11] #717 closed

[2020-02-14 04:11] #658 closed

[2020-02-14 04:11] #694 closed

[2020-02-14 04:11] #693 closed

[2020-02-14 04:18] zachferland commented on #703
This was largely fixed in https://github.com/3box/3box-js/commit/ac670d03d930d2c485b70a0f1b35e2cd4833d91c today and some logic changes when you dont auth at open.

Update chatbox to 1.16.3 or later for fixes

There is some things that can be done in the chatbox to still improve the experience for online ids/profiles. Now with auth later, users are not included in online list until they send a mess

[2020-02-14 15:39] michaelsena commented on #703
@zachferland to create separate issue for this

[2020-02-17 15:17] adamsoffer commented on #433
@oed - any way to sidestep these 404 errors that you know of? They're muddling up my console as well.
![image](https://user-images.githubusercontent.com/555740/74665949-9b2ea800-516e-11ea-8be2-e9ba52283188.png)

[2020-02-19 14:32] oed opened #728 "IDW in iframe without migration"

[2020-02-19 14:34] oed opened #729 "iframe IDW with initial migration"

[2020-02-19 15:55] oed opened #730 "Research how a shared cache for 3box-js could be created"
Currently the cache for ipfs and for orbitdb lives locally with each domain. This means that if 3box data is loaded on domain A and then again on domain B it would have to do a full network sync twice. In order to fix this we could use a shared cache in an iframe.

* Reach out to @zachferland and @oed to get a better understanding of the task
* Look into ipfs and orbitdb to understand at which lay

[2020-02-19 15:55] zachferland commented on #703
Created issued in chatbox for improvements there, closing now

[2020-02-19 15:55] #703 closed

[2020-02-19 15:58] oed opened #731 "Spec implementation for cache in iframe"
Decide things like:
* ipfs inside of iframe, or just ipfs blockstore
* orbitdb cache right abstraction layer
* Will it need authentication?
* Etc...

[2020-02-19 21:13] oznekenzo opened #732 "`localstorage.get is not a function`"
Augur is running into this error when attempting to `box.auth` in the process of integrating the Comments component.

Works, however, when using the /dist build.

Likely a naming conflict with `window.localStorage`(?)

Prevents the integration of Comments in the Augur dapp

[2020-02-19 21:34] oznekenzo commented on #732
nvm, was a naming collision in the augur app.
all fixed.

[2020-02-19 21:34] #732 closed

[2020-02-20 12:04] oed commented on #433
@adamsoffer yeah, unfortunately it's browser behaviour to log all 404 errors so even if we catch them they still show up. We would need to make a breaking change to our apis to fix this.

[2020-02-24 17:49] eshohet commented on #162
Any update on this?
Happy to help out anyway I can!

[2020-02-27 09:14] oed commented on #162
Hey @eshohet No progress on this yet. Would be awesome if you wanted to help out! What do you need? :)

[2020-02-27 19:37] eshohet commented on #162
We've got some partial typings, but it'd be much nicer if it was a bit more strict in the sense that I could know the return type of, for example, `space.private.get(key)`. Right now it's just string, object or undefined but if could be of a template type then static code analysis for ts would work way better.

[code]

[2020-02-28 17:12] mattiaz9 commented on #700
I have the same problem with Authereum

[2020-02-29 00:28] greenkeeper[bot] opened #735 "An in-range update of @ethersproject/wallet is breaking the build 🚨"
## The dependency [@ethersproject/wallet](https://github.com/ethers-io/ethers.js) was updated from `5.0.0-beta.137` to `5.0.0-beta.138`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2F%40ethersproject%2Fwallet-5.0.0-beta.138).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@e

[2020-03-04 13:45] zachferland opened #736 "Fix: IDW support for confidential threads"
There had been some changes for encrypting/decrypting symkey in confidential threads, in some options passed, so that binary data could be handled (instead of strings). These are not passed in idw, and we need to be able to serialize for rpc layer.

[2020-03-06 20:20] oznekenzo opened #737 "Link consent error on new accounts"
Several reports of the error `Uncaught (in promise) Error: Link consent message must be signed before adding data, to link address to store`

I haven't noticed as I was using a preexisting account.
Then created a new Portis account and saw the error myself on `openBox` and on `set`s

I set up and recreated the issue on the `test/linkConsentError` for you to try

[2020-03-06 20:23] zachferland commented on #737
thanks, only new portis accounts? or new metamask accounts as well?

[2020-03-07 00:27] oznekenzo commented on #737
Haven’t tried with MetaMask, but my guess is yes, as other people have seen
it using other wallets

On Fri, Mar 6, 2020 at 3:23 PM Zach Ferland <notifications@github.com>
wrote:

[2020-03-10 10:49] oed commented on #737
seems related to https://github.com/3box/3box-js/issues/700

[2020-03-10 10:58] oznekenzo commented on #737
definitely @oed

[2020-03-10 16:54] oznekenzo opened #738 "Quick/naive look at improving DX for 3box-js"

[2020-03-10 17:18] oed commented on #738
Can you please clarify / provide more context?

[2020-03-10 17:43] oznekenzo commented on #738
Yeah, we spoke a sprint or two ago about how we might be able to make
easier to use or to understand the different functionalities of the library
and that it might be worth the time to put some thinking into this.  If you
think it’s not necessary as it might not even be feasible to implement or
bc of all the other work going on, we can close it or move it to the
backlog.

“Naive” in that this exer

[2020-03-10 20:44] #728 closed

[2020-03-15 16:38] greenkeeper[bot] opened #739 "An in-range update of standard is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [standard](https://github.com/standard/standard) was updated from `14.3.2` to `14.3.3`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:g

[2020-03-16 10:32] oed commented on #162
That looks pretty good @eshohet!
The thing with return type of `space.private.get(key)` is that the developer can choose to put whatever they want in there (both objects and strings). We don't really have any restrictions, so it wouldn't make sense to have a strict type for it I think.

[2020-03-16 18:38] zachferland commented on #737
Resolved by https://github.com/3box/js-3id-blockchain-utils/pull/7

[2020-03-17 18:14] greenkeeper[bot] opened #741 "An in-range update of 3id-blockchain-utils is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [3id-blockchain-utils]() was updated from `0.3.2` to `0.3.3`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:greenkeeper%2F3id-blockchain-u

[2020-03-18 05:41] miguelmota commented on #611
Seeing this issue too on Firefox when calling Box.openBox()

[2020-03-19 14:43] #729 closed

[2020-03-19 14:43] #737 closed

[2020-03-19 19:14] guillempuche opened #743 "Error during "npm i 3box" on v1.17.1"
**The problem**
I can't install the 3Box package.

The error is in one of the 3Box dependencies.

**To Reproduce**
[code]
**Expected behavior**
Install 3Box package locally.

**Screenshots**
![3box](https://user-images.githubusercontent.com/3519924/77105011-3be9df00-6a1d-11ea-9782-68722e8ef3b4.png)

**Versions**
- OS: Ubuntu 18.04
- Node: 10.19.0
- npm: 6.13.4
- create-react-app: 3.4.0
- 3box: 1.1

[2020-03-19 19:25] oed commented on #743
Thanks for reporting. Seems like it's related to one of the ipfs subdependencies. Is it possible to install a different version of `multicodec`?

[2020-03-19 20:05] guillempuche commented on #743
I didn't have git installed.

Now I have. But it doesn't install, I have a different error:
![screenshots-merged](https://user-images.githubusercontent.com/3519924/77110095-4d36e980-6a25-11ea-97ab-25df5855bb12.png)

[2020-03-20 18:57] oed commented on #743
@guillempuche It's really hard to read your image, would be more helpful if you could use pastebin in the future.
My guess is that you have something that is missconfigured on your system however.

[2020-03-21 18:12] guillempuche commented on #743
@oed, the image has great quality. If you download it, you will read fantastically.

I developing on Linux since 1 monthys. I didn't have any problem installing npm packages, but 3box.

[2020-03-23 11:17] guillempuche commented on #743
**PROBLEM**
I have some [underconfiguration on my Linux](https://stackoverflow.com/questions/55763428/react-native-error-enospc-system-limit-for-number-of-file-watchers-reached)

**SOLUTION**
["System limit for number of file watchers reached"](https://stackoverflow.com/a/55763478/9192954)

[2020-03-23 11:17] #743 closed

[2020-03-25 10:35] oed commented on #700
We recently released a fix to the `3id-blockchain-utils` library that should fix this. Can you confirm that this is no longer an issue with `3id-blockchain-utils@0.3.3`?

[2020-03-25 12:03] mattiaz9 commented on #700
Yes, I can confirm that it works. I managed to connect with 3box and update some profile information.

[2020-03-28 20:32] nategeier opened #746 "Deploying to gcloud a ssr app blows up build when adding 3box npm 1.17.1"
**Describe the bug**
Works perfectly locally, but when deploying my next.js servers-side react app to Google App Engine the deploy fails. By simply commenting out any imports to 3box and removing the package in package.json the deploy works perfectly.

**To Reproduce**
This might be a long one, but create a `next.js` react app https://nextjs.org/
and try deploying that to gcloud, then add 3box and

[2020-03-30 10:56] #700 closed

[2020-03-30 13:18] oed opened #747 "Coordinate iframe release"
* Decide if we should release cache & IDW iframe in the same release
* Coordinate deployments (different domains, similar depolyment pipline, same/different repo?)

[2020-03-30 13:24] oed opened #748 "Spec agnostic auth provider"
Is this handled by web3modal?
Do we just show a list of all providers?
Do users need to pick their network, then pick their provider?
Etc.
Possibly coordinate with Pedro.

[2020-03-31 19:20] oznekenzo commented on #738
Quick write-up here, two suggestions to fix low-hanging problems, nothing major:
https://www.notion.so/threebox/DX-Write-Up-07a09e2ba8a5492dacfd79754cd9d6c8
@oed @michaelsena

[2020-03-31 19:20] #738 closed

[2020-04-01 00:39] #706 closed

[2020-04-01 01:11] zachferland opened #751 "Iframe Cache Fallback"
From trying in past, iframe cache will work in browsers most used (with providers), ie chrome/firefox. (did not work in safari in past) Needs simple fallback, which for now can just be not using iframe.  Need to confirm browser support and have function to determine if supported to enable iframe or fallback.

[2020-04-01 01:13] #736 closed

[2020-04-01 07:20] oed commented on #751
Also needs to be tested on mobile browsers.

[2020-04-01 15:38] oznekenzo opened #752 "Posting to thread results in error 'Error: You must authenticate before performing this action'"
This happens despite already authing.

This has been replicated in the example app.

Am seeing this in both an existing thread with posts already with a moderator address that isn't mine as well as with a thread that was created but is empty with my own address as the moderator.

Am not seeing it with setting profile data, seems to only happen when posting to a thread.

This seems to have happened

[2020-04-01 17:02] michaelsena commented on #752
@oed @zachferland

[2020-04-01 20:14] miguelmota opened #753 "Recommended content security policy rules"
Hey guys, is there a list of all domains 3boxjs connects to? I'm tightening down frontend content security policy rules and not sure what are all the hosts that should be whitelisted for the connect-src policy

[2020-04-02 08:38] oed commented on #753
Good question. I think all domains should be configured in [`config.js`](https://github.com/3box/3box-js/blob/develop/src/config.js).
Iirc the infura domain is not being used anymore cc @zachferland

[2020-04-03 12:33] wagner-daniel opened #754 "3box within Workers"
At the moment I am migrating Totem to WebWorkers for better performance. 3box works fine, but it needs a small adjustment.

In the dependency ipfs-mini is on call to the window object, which is not available in workers.

I opened a issue (https://github.com/SilentCicero/ipfs-mini/issues/14) there and submitted a working pull request (https://github.com/SilentCicero/ipfs-mini/pull/15).

All you nee

[2020-04-03 12:41] oed commented on #754
Hey, thanks for bringing this up! 'ipfs-mini' is not actually used in 3box anymore and should be removed!
It's imported here but never used:
https://github.com/3box/3box-js/blob/5ad3989a51e67791716ef4c091a7507e174edb10/src/3id/index.js#L5

We will remove it eventually, but if you want you can make a PR!

[2020-04-06 09:38] oed commented on #754
Solved by #755
This will be part of the next 3box release

[2020-04-06 09:38] #754 closed

[2020-04-07 10:33] msterle opened #757 "Accounts won't link to addresses under certain conditions"
Accounts can get into a state where they cannot create a link between an address and a did on the address server. 3box-js won't try to post the link if they have a local proof in their rootstore, even if the address server doesn't have a record of the link. This can happen if the original request failed or was aborted after the proof was written to ipfs and stored in the rootstore,

The `isAddress

[2020-04-11 12:49] pakokrew opened #759 "Uncaught error when localstorage not available"
When trying to open a box in a browser that block localstorage, there is an uncaught error and the `Box.openBox` method does not throw an error.

In some browsers, localStorage is not available (such as brave browser on cross-domain embedded sites, chrome when blocking third party cookies...)

Accessing the property window.localStorage throws an error (even just checking `window.localStorage !== u

[2020-04-14 06:39] oed commented on #759
@pakokrew Currently 3Box requires localstorage and IndexedDB in order to store local state. Unfortunately there is no easy way around this.

What does this mean exactly?

[2020-04-14 07:50] oed commented on #753
Closing this @miguelmota. Please let us know if you have any further questions about this.

[2020-04-14 07:50] #753 closed

[2020-04-14 08:00] pakokrew commented on #759
@oed I know you need localStorage.
What I meant is that in such cases, the `Box.openBox()` method **does not throw**, so it's impossible to know if there is a problem.

It would be better that you catch this **Uncaught** exception and throw something to us, so we can display an error message to our users.

Inside iframes, brave disable the use of localStorage. The result is that, instead of having

[2020-04-14 08:21] oed commented on #759
Thanks @pakokrew That's a good idea to throw an error if that's the case! Will put this in our backlog.

Do you know why brave disables localstorage in iframes? Is other storage methods such as IndexedDB available?

[2020-04-14 08:39] pakokrew commented on #759
That's part of privacy protecting strategy. They consider them like cross-domain/third party cookies. I don't think other types of storage will be supported. Apple's Webkit will pose a lot of problems soon also, and chrome may follow.

If you disable shields on brave, it works.

[2020-04-14 17:31] #747 closed

[2020-04-14 19:39] oznekenzo commented on #752
My apologies guys 😣
Some time in converting to the new Create/Auth pattern, I had assumed that the thread returned from `openThread` could be used to `post` with so long as you authed into the space prior to attempting to `post`.  This is not the case. You need to open space separately despite having authed to it, so that you can `joinThread` on that space, and must use the thread returned from th

[2020-04-14 20:14] oed commented on #752
@oznekenzo that actually sounds like a bug though! You should be able to post to a thread that you opened with `openThread`!

[2020-04-15 20:08] oznekenzo commented on #752
This is causing an issue, then, in the Chatbox in a specific edge case 😕 as well

[2020-04-15 20:46] oznekenzo commented on #752
Hoping this can be addressed soon.  This is blocking both Chatbox and Comments integrations into Augur

[2020-04-16 16:10] dkent600 commented on #746
Related?  https://github.com/ipfs/js-ipfs/issues/2986

[2020-04-16 16:56] miguelmota commented on #753
Thanks @oed allowing the domains listed in the config file worked

[2020-04-16 18:22] think-in-universe opened #761 "box.openThread fail with "Could not find appropriate DID for address" for Persistent Thread in a New Space"
### Describe the bug

**Background**: I'm working on 3Box integration with Kickback: https://github.com/wearekickback/app/pull/335, and to meet the needs of a chat per each event, I have extended the ChatBox by @oznekenzo to support Persistent Thread: https://github.com/open-tribe/3box-chatbox-react/tree/smart-chat

When testing the integration with Kickback, we found that the `openThread` failed

[2020-04-16 18:23] think-in-universe commented on #761
@oed @zachferland could you please help take a look?

might be related to https://github.com/3box/3box-js/issues/752

[2020-04-16 19:19] orenyodfat commented on #746
similar issue on our end ...it increase  dramatically our Heroku build slug size ...

[2020-04-17 01:32] tibetsprague opened #762 "Bundle & heroku slug size massively increased in 1.17.1"
After updating to 1.17.1 our deploys to Heroku started failing because the slug size went way up. It seems like the main culprit is ipfs 0.40.0 which adds a ton to both the bundle and slug size. Feel free to close this issue since it's probably just an ipfs issue but I thought you should at least be aware.

[2020-04-17 08:20] oed commented on #762
Thanks for highlighting @tibetsprague! Yes this is an ipfs issue and I believe it can be solved by updating ipfs to the latest version. We are currently blocked by OrbitDB which need to add support for the latest version.
https://github.com/orbitdb/orbit-db/pull/767

[2020-04-17 09:31] oed commented on #761
I believe this is because the user you are using for the `firstModerator` has never opened the given space. Currently it's required that the first moderator has opened the space in which the thread is in in order to become a moderator or member of a thread within that space.

If you change you're code example above to something like this I think it should work:
[code]

[2020-04-17 11:27] oed commented on #752
I'm unable to reproduce the error that you're describing @oznekenzo.

Here is the code I'm using (using the chromium console in the example app on master):
[code]

[2020-04-17 11:30] think-in-universe commented on #761
@oed thanks for the kind help!

thanks for the suggestion. I have tried that yesterday after you suggested. but the error is exactly the same. should be `ethereumAddress` be the address for the first moderator or the address of the current user? I tried both, but neither works.

I pushed this change to https://github.com/open-tribe/3box-chatbox-react/commit/e293092f2e676ae02d9fadf454c5438e998bc6b7

[2020-04-17 12:25] oed commented on #752
I think I understand why this error is happening now. If the user has never called `openSpace` on the given space only calling auth will not work. If they however at some point in the past called `openSpace` on the given space auth should be sufficient.
Sorry for the confusion @oznekenzo You're right.

[2020-04-17 16:42] think-in-universe commented on #752
@oed thanks for the comment. I modified my code as below, which will check whether the space exists or not before `getThread`, and try `openSpace` if space is not available.

[code]

[2020-04-17 21:47] tibetsprague commented on #762
thanks @oed !

[2020-04-18 08:41] nichanank commented on #682
I'm experiencing the same issue on `Box.openBox`. It was working fine yesterday but now I'm getting the `Couldn't listen on any of the servers error`

Is there a known workaround for this?

![image](https://user-images.githubusercontent.com/15038946/79632612-a7dd7580-818a-11ea-9065-fb6c76c748de.png)

**Desktop**:
OS: MacOS
Browser: Brave 1.5.123
3Box: ^1.17.1

[2020-04-20 08:43] oed opened #763 "Upgrade did-resovler and did-jwt libraries"

[2020-04-21 11:46] oed commented on #682
Looking into if there is a more permanent solve for this!

[2020-04-21 15:27] ottodevs opened #766 "Error: Provider returned signature from different account than requested"
**Describe the bug**
After automatically updating `3box` to 1.18 (released 1 hour ago) we started receiving this error message in the browser console:
[code]

After signing this panel:
![image](https://user-images.githubusercontent.com/5030059/79884272-3b19e380-83f5-11ea-877e-8dd526384dcb.png)

We decided trying to pin the `3box` dependency to 1.17.1 in our `package.json` and it automagically fixe

[2020-04-21 17:09] zachferland commented on #766
@ottodevs thanks for creating the issue, are you using box.auth? (or box.openBox?) and passing an address to that function that matches the address of the account you are signing with?

[2020-04-21 17:15] greenkeeper[bot] opened #767 "An in-range update of webpack is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.42.1` to `4.43.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3box:gree

[2020-04-21 19:14] ottodevs commented on #766
Hi @zachferland thank you for the answer! We are using `Box.openBox`. Regarding your second question, I think so, otherwise wouldn't it be failing also with the previous library version? We are transparently passing the current address selected by the user in the provider, metamask in this case.

[2020-04-21 19:59] zachferland opened #768 "Inconsistent thread write (pin) and get (api)"
Info from discord

[code]

[code]

[2020-04-21 21:09] zachferland commented on #766
@ottodevs was able to replicate, and fixed in release 3box@1.18.1, thanks for reporting so quickly! closing this issue now

[2020-04-21 21:09] #766 closed

[2020-04-22 13:44] j-mars opened #771 "Cannot open 3box with independent implementation of web3modal"
**Describe the bug**
If I implement web3modal independently I cannot open 3box with 'Box.openBox' giving the following error:

"Error: Provider returned signature from different account than requested"

**To Reproduce**
Steps to reproduce the behavior:
`
Initiate web3modal separately (e.g. with Torus):

      const web3Modal = new Web3Modal({
        providerOptions: {
          torus: {

[2020-04-22 13:48] oed commented on #771
@j-mars What version of 3box-js are you on?
cc @zachferland

[2020-04-22 13:55] j-mars commented on #771
1.18.0

Guess you had an update which slipped by me, will try again.

[2020-04-22 14:19] j-mars commented on #771
Updated to 1.18.1

Getting this error now (very inconclusive) at the same point, this time before prompting me the signature:

"Error: invalid block
    at Object.put (http://localhost:3000/static/js/18.chunk.js:215884:15)
    at BlockService.put (http://localhost:3000/static/js/18.chunk.js:201595:32)
    at IPLDResolver.put (http://localhost:3000/static/js/18.chunk.js:248725:21)
    at async Obje

[2020-04-22 17:51] oed commented on #771
Thanks @j-mars Yeah I thought the first issue would be solved by the updated version :)

The new issue seems to be something that changed in an underlaying ipfs dependency. We are seeing it in other places as well. Currently investigating!

[2020-04-22 19:11] zachferland commented on #771
@j-mars could you 'npm list ipfs' to see what version of ipfs you have installed, you need 0.40.0 at the moment for 3boxjs, its not explicitly pinned so if you or another dependency are using ipfs anywhere else it may be pulling in a different version

[2020-04-22 19:29] zachferland opened #772 "Catch errors from unsupported/disabled features in browsers"
Catch and relay useful error when indexeddb, localstorage, or in general the env does not meet the requirements of our library.

Also add docs on requirements, so that devs can handle themselves and relay that error to user. We can throw it so a dev understand its better, but they have still have to consume it and relay it in a useful way to an end user, so that user can maybe try diff env.

[2020-04-22 19:38] zachferland commented on #772
Links to https://github.com/3box/3box-js/issues/759

This also applies to to iframes  we are using for 3id-connect and ipfs data caching, but those are more explicitly handling this already (or will) with fallbacks

[2020-04-22 22:57] j-mars commented on #771
@zachferland npm list ipfs returns:
`└─┬ 3box@1.18.1
  └── ipfs@0.40.0
`

[2020-04-23 06:42] oed commented on #759
Hey @pakokrew, an update: We are tracking improvements to this here #772
Until that is implemented I suggest you can manually check if localstorage is available before you call `openBox`.

[2020-04-23 08:27] oed commented on #771
Looks like this is an upstream issue in ipfs/ipld: https://github.com/ipfs/js-ipfs/issues/2998

[2020-04-23 10:02] j-mars commented on #771
For anyone having this problem, the quick n' dirty workaround based on what you found @oed is to add
`
"resolutions": {
    "ipld": "0.25.3"
 },
`
To package.json and run yarn/npm install

Confirmed 3box opens now.

[2020-04-23 14:40] #771 closed

[2020-04-27 17:16] x5engine opened #778 "Yarn add 3box fails"
**Describe the bug**
yarn fails to add 3box with error
[code]

**To Reproduce**
Just use npx create react app then `yarn add 3box`

**Expected behavior**
Should add the package to the project! nothing added in packages.json

**Screenshots**
![image](https://user-images.githubusercontent.com/12363020/80400417-49ab4380-88aa-11ea-8335-8b5c3d0e9fbc.png)

 - OS: MacOS Catalina 10.15
 - Browser Chrome

[2020-04-27 17:17] x5engine commented on #778
Is this because I have node -v
v8.12.0?

[2020-04-27 17:19] #778 closed

[2020-04-29 00:47] zachferland commented on #748
Most details here - https://github.com/3box/3id-connect/pull/17/commits/4d68780c99f0fe1fe7e916e9e6d1f7bdff1b3ec0

In readme and in src/authProviders/abstractAuthProvider.js

Likely some details will be added in 3id-blockchain-utils as well and referenced in 3id-connect. May be some minor changes until finalized and based on feedback.

[2020-04-29 12:55] deiu opened #779 "Thread name creation contains [object Object] string."
Hi,

Playing with threads I noticed that when joining a thread, the `threadName` value looks a bit odd -- i.e.  "3box.thread.MyFollowing.**[object Object]**". :)

[code]

I'm currently using the bundle lib from `https://unpkg.com/3box/dist/3box.js`.

[2020-04-29 14:07] oed commented on #779
Thanks for reporting @deiu! Did this start happening recently with the new 3box-js release maybe? Definitely looks like a bug.
@zachferland would you mind having a quick look at this?

[2020-04-29 14:24] zachferland commented on #779
@deiu looks like you are passing followingList which is an object into joinThread as the threadName, threadName should be string!

but we should also throw an error in this case to give more feedback vs object getting coerced into string

getThread will just return  values in thread, not instance of a thread

[2020-04-29 14:30] deiu commented on #779
Oh I see, that makes sense now. Thanks!

[2020-04-29 14:30] #779 closed

[2020-04-29 14:57] zachferland commented on #748
@oed ^ authProvider

[2020-04-29 16:04] oed commented on #748
Thanks @zachferland! Looks good from a fast glance :)

[2020-04-30 21:32] oznekenzo commented on #752
Coming back to this, it really seems that this is the result of a change in the lib.  The auth pattern that's now causing issues (where the component runs `box.auth` without having to `openSpace` & `joinThread`) was implemented in both the comments plugin and chatbox plugin - both used to work without having to `openSpace` and `joinThread`.  Now, they are both not working.  Both seemed to have sto

[2020-05-01 00:59] x5engine opened #781 "Update Documentation on website"
If you follow the documentation on the website

here https://docs.3box.io/build/web-apps/messaging/persistent-threads#4-view-posts
and here
https://docs.3box.io/api/messaging#thread-getposts

When you are trying to get the post with a limit you get an error!

Documenation says
`        const posts = await thread.getPosts(20)`
when actually you need
`        const posts = await thread.getPosts({ li

[2020-05-01 01:30] x5engine commented on #781
Also, the links on https://docs.3box.io/api/messaging#thread-getposts are not redirecting to the paragraph when you click them.

[2020-05-01 03:26] think-in-universe commented on #752
@oznekenzo got it, Kenzo. thanks for the analysis and fix.

[2020-05-01 05:28] think-in-universe commented on #752
@oznekenzo Hi Kenzon, so does it mean the latest version of 3box comments and chatbox is working now?

[2020-05-01 11:49] oed commented on #781
Thanks for reporting this @x5engine We are going to try to fix this as soon as possible!

[2020-05-01 19:31] oznekenzo commented on #752
@think-in-universe Comments has been updated with version `3.0.1`, I don't recall the issue you were having with Chatbox but a new version was released with version `0.1.11` a few days ago

[2020-05-05 08:16] oed commented on #781
Thanks for pointing out where the issues where. Should be updated now!

[2020-05-05 08:16] #781 closed

[2020-05-05 11:35] oed commented on #682
Given the information in the issue I linked above it seems like this will be fixed by using https://github.com/libp2p/js-libp2p-stardust once we have updated to the latest version of js-ipfs. We are currently blocked by OrbitDB not supporting the latest ipfs version, but once that is out we can get rid of this issue!

[2020-05-06 14:54] michaelsena opened #783 "Update to use stardust server for ghost chat"

[2020-05-06 21:04] zachferland opened #784 "3id-connect with ethereum provider or authprovider"
Needs to continue to consume and eth (or authprovider), along with 3id-provider (3id-connect)

3id-connect will take this provider now

[2020-05-07 07:19] oed commented on #784
3box should be able to detect what type of provider you're using and use the correct authprovider (if possible)

[2020-05-07 14:01] zachferland commented on #784
its going to take any eth provider still (not in a auth provider interface) OR any auth provider implemented how you want

[2020-05-09 16:43] x5engine commented on #781
You are welcome guys :)

[2020-05-09 18:27] pakokrew opened #785 "Add variables for graphql querues"
https://github.com/3box/3box-js/blob/a914ee905df1b0256ad278e0187a3f6eda03ca26/src/api.js#L221

Could you please add the possibility to pass variables to graphql queries ?

https://github.com/prisma-labs/graphql-request#using-variables

thanks

[2020-05-11 12:34] greenkeeper[bot] opened #786 "An in-range update of ipfs-log is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## The dependency [ipfs-log](https://github.com/orbitdb/ipfs-log) was updated from `4.5.5` to `4.6.0`.

🚨 [View failing branch](https://github.com/3box/3box-js/compare/develop...3b

[2020-05-11 13:37] #748 closed

[2020-05-11 21:09] zachferland opened #787 "Optimistic Loading/Verification (signatures)"
The ability load entries without verifying their signatures. This has two dimensions, one is to optimistically accept entries while loading and then verify after, the second is to not verify entires we already have seen and verified in the past.

The second already discussed a few months ago, the difficulty being from orbitdb/3boxs perspective you cant  tell if ipfs just  got a given block locally

[2020-05-12 09:56] oed opened #788 "Rootstore can end up in a non-published state."
Currently the rootstore is only published to the address server in one place: https://github.com/3box/3box-js/blob/develop/src/3box.js#L83
This could cause issues if for some reason the rootstore ends up in a non-published state. We should try to always check if the rootstore is published and republish it if needed.

---

Conversation from discord:

[code]

[2020-05-12 18:03] ColdDevil commented on #788
In case somebody needs a quick fix for this one:

- clone the https://github.com/3box/3box-js repo
- npm ci
- npm run example:start
- open the website localhost:3000 in your browser
- in case you are using Brave, deactivate the shield/adblocker for this site (localhost)
- authenticate by clicking the button, confirm meta mask popups
- start the link process again by clicking the button
- sign the

[2020-05-12 18:14] oed commented on #788
Thanks @ColdDevil. I assume this is with your existing account? Or can you replicate this with a new account as well?

[2020-05-12 18:17] ColdDevil commented on #788
This was a fix for my existing account that somehow got stuck without a linked address. With a new account everything went fine!

[2020-05-12 18:29] oed commented on #788
Ok, that's good :)
I was hoping that you'd found a way to replicate the issue though so that we could have solved it :)

[2020-05-13 01:50] zachferland opened #790 "Upgrade ipfs 0.41 or greater"
already changed to use ipfs create api
some changes in internal libs, like repo, need to align all versions there

[2020-05-13 09:57] oed commented on #656
This has been fixed for quite a while. We are also in the process of updating to the latest ipfs version again!

[2020-05-13 09:57] #656 closed

[2020-05-13 10:02] oed opened #791 "Investigate syncing errors with threads"
There has been various reports of threads behaving incorrectly with slow loading times and posts disappearing. Investigate these issues and see if we can replicate any of these issues.

[2020-05-13 10:07] #339 closed

[2020-05-13 10:10] oed commented on #603
Old ticket, closing

[2020-05-13 10:10] #603 closed

[2020-05-13 10:12] oed commented on #640
Already implemented

[2020-05-13 10:12] #640 closed

[2020-05-13 10:19] oed commented on #110
I believe this error is no longer around. Please repopen if you see it surfacing again :)

[2020-05-13 10:19] #110 closed

[2020-05-13 12:21] oed opened #792 "Ipfs update release testing"

[2020-05-13 12:22] oed opened #793 "Test iframe cache"

[2020-05-13 12:26] oed opened #794 "Add config option for "ghost bootstrap node""
Add a way to configure a bootstrap node that will be automatically connected to on startup, the same way we connect to the pinning node (using `ipfs.swarm.connect`) this option can be passedd to `Box.create`.

[2020-05-13 13:16] oed opened #795 "Throw descriptive error if no storage layer available"
Should check if storage layer is present and throw descriptive error if not.

[2020-05-13 14:04] zachferland commented on #795
3id-connect is using https://modernizr.com/ for feature detection right now

[2020-05-13 14:09] #280 closed

[2020-05-13 14:40] #763 closed

[2020-05-14 15:46] #730 closed

[2020-05-14 15:46] #731 closed

[2020-05-14 16:33] dazuck commented on #795
@kamescg

[2020-05-15 13:51] #714 closed

[2020-05-15 13:59] #604 closed

[2020-05-15 13:59] #645 closed

[2020-05-15 14:07] #177 closed

[2020-05-15 14:08] #256 closed

[2020-05-15 14:09] #281 closed

[2020-05-15 14:09] #199 closed

[2020-05-15 14:09] #331 closed

[2020-05-15 14:11] #589 closed

[2020-05-15 14:17] #712 closed

[2020-05-15 14:18] #783 closed

[2020-05-15 14:18] #772 closed

[2020-05-15 14:22] #216 closed

[2020-05-15 14:25] #671 closed

[2020-05-15 14:25] #696 closed

[2020-05-15 14:25] #705 closed

[2020-05-15 14:25] #739 closed

[2020-05-15 14:25] #741 closed

[2020-05-15 14:25] #767 closed

[2020-05-15 14:25] #786 closed

[2020-05-15 14:26] #102 closed

[2020-05-15 14:29] #303 closed

[2020-05-15 14:30] #309 closed

[2020-05-15 14:30] #311 closed

[2020-05-15 14:30] #325 closed

[2020-05-18 06:58] oed commented on #475
This seems to be resolved already. If the name includes a `. ` the `openSpace` method will throw an error.

[2020-05-18 06:58] #475 closed

[2020-05-18 07:54] oed commented on #718
Latest version works fine, closing.

[2020-05-18 07:54] #718 closed

[2020-05-18 16:42] oed commented on #761
I think this is basically the same issue as described in #761

[2020-05-19 11:43] oed commented on #757
This should be solved by #798

[2020-05-19 11:57] oed commented on #641
I'm currently unable to replicate this.

[2020-05-20 07:32] oed commented on #788
I believe this issue should be mostly solved by #798. Putting this in staging until it's released.

[2020-05-20 13:36] simonovic86 opened #801 "Ghost thread latency simulator"
- implement simple simulator to measure joining to ghost thread

[2020-05-21 09:25] simonovic86 opened #802 "Ghost Pinbot server API"
- Implement simple RESTful API to support arbitrary threads and spaces

[2020-05-21 11:00] #802 closed

[2020-05-22 12:19] #801 closed

[2020-05-26 12:48] amcassetti commented on #766
I'm getting this error as well when using a Ledger device via MetaMask. Below is the code be implemented:

`const box = await Box.create(currentProvider)
        await box.auth(["ren-bridge"], {
            address: accounts[0]
        })
        const space = await box.openSpace("ren-bridge")`

[2020-05-26 23:21] greenkeeper[bot] opened #806 "An in-range update of babel7 is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.8.4` to `7.10.0`.
- The `d

[2020-05-27 09:23] #794 closed

[2020-05-28 11:00] dkent600 commented on #762
@oed Looks like orbitdb has a [new release that should fix this problem](https://github.com/orbitdb/orbit-db/releases/tag/0.24.1).    Any ETA on pulling this into 3Box?

[2020-05-28 11:02] oed commented on #762
Hey @dkent600 we are currently working on updating to the latest ipfs and orbitdb versions. Expect an update within the next few weeks :)
(Currently debugging some incompatibilities with the new ipfs version)

[2020-06-01 12:52] simonovic86 commented on #433
The error which is being logged does not break the functionality but it spams the `console` with a lot `404`s.

The problem is that `3box-api` is returning `404` HTTP status if it's unable to find the profile via address.

In order to make it better, the proposed solution is to return all the responses with `200` HTTP status and embed 3Box statuses inside the returned payload.

Since this doesn't

[2020-06-01 13:08] simonovic86 opened #823 "Get Ghost Pinbot peer ID upon 3Box instance creation"
We need to fetch the Ghost Pinbot peer ID which is deployed on our infrastructure.

[2020-06-01 13:48] simonovic86 opened #824 "Ignore Ghost Pinbot peer ID from the Ghost thread members"
We need to ignore Ghost Pinbot peer ID from the Ghost thread members.

[2020-06-04 13:45] #751 closed

[2020-06-04 15:33] #735 closed

[2020-06-04 15:33] #806 closed

[2020-06-04 16:30] #791 closed

[2020-06-08 08:55] simonovic86 opened #825 "Keep connection alive to the Ghost Pinbot"
On some service providers like Heroku connection to the Ghost Pinbot needs to be kept alive.

[2020-06-08 12:45] #825 closed

[2020-06-08 14:37] #824 closed

[2020-06-15 21:17] #784 closed

[2020-06-16 14:42] #676 closed

[2020-06-16 14:42] #790 closed

[2020-06-16 14:42] #792 closed

[2020-06-16 14:43] #788 closed

[2020-06-16 14:43] #757 closed

[2020-06-16 14:43] #682 closed

[2020-06-16 14:43] #761 closed

[2020-06-16 14:43] #752 closed

[2020-06-16 14:51] oed commented on #682
This issue is solved with the `1.20.0` release!

[2020-06-16 14:51] oed commented on #752
This issue is solved with the `1.20.0` release!

[2020-06-16 16:53] zachferland commented on #762
IPFS version in updated in  3boxjs v1.20.0 release, decreased build/bundle size by almost 1mb. We have some further changes over coming weeks that may decrease a bit more and ipfs is continuing to work on this. Closing issue for now.

[2020-06-16 16:53] #762 closed

[2020-06-18 13:19] oed commented on #746
@nategeier would you mind trying this again. The new 3box version `1.20.0` build should be almost 1 MB smaller.

[2020-06-18 16:23] dkent600 commented on #746
Confirmed fixed, thanks!

[2020-06-19 10:54] nategeier commented on #746
Trying to test but looks like my 3box wall account dropped/lost my info again. Trying to save my account `0x66268791b55e1f5fa585d990326519f101407257` but getting a forever
![Screen Shot 2020-06-19 at 12 53 54 PM](https://user-images.githubusercontent.com/838839/85125445-f0b5b700-b22b-11ea-8239-0ed32f7dbc33.png)

[2020-06-19 11:15] oed commented on #746
@nategeier How loading your account on 3box.io is related to the issue described above?

[2020-06-19 11:26] nategeier commented on #746
Mainly venting frustration just trying to this this account to work after a year. The good news is, the new package deployed, so closing this issue now. Page load speed test is now 50% better :)

[2020-06-19 11:28] oed commented on #746
Thanks @nategeier, replied to your question about the account in the discord :)

[2020-06-19 11:29] #746 closed

[2020-06-22 13:02] dkent600 opened #848 "box.auth hangs or takes a very long time"
Since upgrading to the latest in 3box, I've been seeing very long wait times or an outright hang when called `box.auth`.

I often see this exception which comes from the "p-some" package which is pulled in by 3box@1.20.0.

This is on rinkeby.  Haven't tried mainnet.

[code]

**Steps to reproduce**
Call `Box.create(web3)` followed by `box.auth({ address })`.

**Expect**
`box.auth` should complete,

[2020-06-22 13:05] oed commented on #848
Thanks for reporting @dkent600. Does this just cause `box.auth` to hang or does it throw an error and exit?

[2020-06-22 13:07] dkent600 commented on #848
When the exception is thrown `auth` hangs.

[2020-07-01 13:58] oed commented on #848
@dkent600 We've had some service degradation of our infrastructure recently that was fixed last week. Would you mind trying this again and seeing if it's still an issue?

[2020-07-16 16:23] michaelsena opened #863 "Release ledger bugfix (Ethers v5)"
Update ethers to v5 also in dependencies

[2020-07-17 07:47] mikedeshazer opened #864 "Build.js file missing in example"
**Describe the bug**
In the this file: https://github.com/3box/3box-js/blob/develop/example/index.html, there is no build.js and the dist directory does not exist.

**To Reproduce**
Clone repo and try to run the example. It won't work because the JS files are missing.

**Expected behavior**
JS files should be present and in correct directoru

Affects all browsers.

[2020-07-17 07:56] oed commented on #864
Please see the readme for how to run the example: https://github.com/3box/3box-js#example

[2020-07-17 07:56] #864 closed

[2020-07-17 08:21] mikedeshazer commented on #864
Created pull request to help other developers who might not read the entire README before testing the examples folder https://github.com/3box/3box-js/pull/865

[2020-07-29 10:29] dkent600 opened #872 "box.auth should throw an exception on errors"
After this:

[code]

I see this in the console:

Besides that I don't know what that message means, `box.auth` does not throw an exception, which is a problem for any dApp wanting to properly handle errors.

Using 3box@1.20.3

[2020-07-29 11:48] oed commented on #872
The problem here is that the error comes from OrbitDB and is thrown in some background process, so it's not something we can easily catch.

@zachferland has talked about that there might be some fix to be made in Orbitdb, but I'm not sure of the status of that.

[2020-07-29 15:54] dkent600 opened #873 "box.auth throws exception with no helpful message"
After this:

[code]

an exception is thrown, with not much to go on:

    at Box._callee7$ (webpack-internal:///./node_modules/3box/lib/3box.js:605:23)
    at tryCatch (webpack-internal:///./node_modules/regenerator-runtime/runtime.js:63:40)
    at Generator.invoke [as _invoke] (webpack-internal:///./node_modules/regenerator-runtime/runtime.js:293:22)
    at Generator.eval [as throw] (webpack-inte

[2020-07-29 17:14] oed commented on #873
Created a PR to address the error message not being very helpful: https://github.com/3box/3box-js/pull/874

[2020-08-03 11:49] drwasho opened #876 "'Persistent' confidential threads are not persistent"
### Describe the bug
Persistent confidential thread do not appear to be persistent as the thread and its posts disappear after the next session.

### To Reproduce

#### Step 1. Create the persistent confidential thread
[code]

The above code has also been tested in the following variation:

[code]

#### Step 2. Fetch the shopping cart items and add them to state (update if it changes)

[code]

###

[2020-08-03 19:36] zachferland commented on #876
thanks @drwasho for the detailed bug report!

can you try the following, create thread with ```const thread = await space.createConfidentialThread('myConfThread')``` as you have, then you can get the thread address by ```thread.address```, lastly you can rejoin the same thread by ```await space.joinThreadByAddress(address)```

Looks like you may have been creating a new confidential thread each ti

[2020-08-06 09:17] #793 closed

[2020-08-07 08:53] #873 closed

[2020-08-07 19:11] #863 closed

[2020-08-10 15:15] dkent600 opened #889 "3box@1.21.0 package has a problem with 3id-connect"
After upgrading to 3box@1.21.0 and then when running webpack, I get the error:

Module not found: Error: Can't resolve 'identity-wallet' in '[...]\node_modules\3id-connect\lib'
 @ ./node_modules/3id-connect/lib/threeIdConnectService.js 24:21-47
 @ ./node_modules/3id-connect/lib/index.js
 @ ./node_modules/3box/lib/3box.js
 @ ./src/actions/profilesActions.ts
 @ ./src/layouts/AppContainer.tsx
 @ ./sr

[2020-08-11 07:11] oed commented on #889
Thanks for reporting @dkent600 Looking into it!

[2020-08-11 07:16] oed commented on #889
@dkent600 What version if identity-wallet gets installed?
Output of this command:
[code]

[2020-08-11 08:17] pepoospina commented on #889
Hi @dkent600 @oed

Same/similar error here.

It happened after rebuilding our package-lock.json files, without updating the 3box version we have installed (which is `1.19.0`).

output of `npm list identity-wallet`

[code]

[2020-08-11 09:26] oed commented on #889
Looks like the ES5 build of `identity-wallet` wasn't being produced correctly. Should be fixed in `identity-wallet@1.4.1`.

[2020-08-11 10:36] dkent600 commented on #889
That works, thanks!

[2020-08-11 10:36] #889 closed

[2020-08-11 10:54] dkent600 opened #890 "Box.create should not throw "denied permission" exception"
During this:

[code]

an exception is thrown (and not caught):

message: "The user denied permission to access the database."
name: "OpenError"
stack: "OpenError: The user denied permission to access the database.↵

`spaceName` is "DAOstack"
Using 3box@1.21.0

You can reproduce here:  https://alchemy-add3boxcomments-jjgmo6.herokuapp.com/

STEPS:
1. in the upper-right, login to an account (I'm usin

[2020-08-11 16:55] dkent600 commented on #890
I was able to get past the error by enabling third-party cookies.  Is this new?

Would be great if you could pro-actively let users know via a UI prompt if this is going to be a requirement and third-party cookies are found to be blocked.  Otherwise they have no clue.

[2020-08-12 07:08] oed commented on #890
It's new yes, however we did add code to detect if there isn't support for third-party cookies and in that case not enable this feature. Might be a bug in that code.

cc @zachferland

[2020-08-12 20:16] dkent600 opened #891 "Should not throw "Key not found in database" exception"
During this:

[code]

(or was it in `auth`, sorry I don't recall)

an exception is thrown:

`spaceName` is "DAOstack"
Using 3box@1.21.0
The web3provider is pointing at rinkeby.

[2020-08-21 04:26] aturX commented on #872
"Error: Could not append entry, key "did:3:bafyreig4trqtifolb3mw7b6elt5butfb23gj2n6dugtjm2gwt63s..." is not allowed to write to the log"

I have same problem , I can read data from 3box, but can't change or add new data into.

this is my code
`
this.box = await Box.openBox(this.address, window.ethereum)
            this.box.syncDone

            console.log(this.box)

            // this.space = a

[2020-08-21 04:43] aturX opened #897 "Error: Could not append entry, key ... is not allowed to write to the log"
**Describe the bug**
"Error: Could not append entry, key "did:3:bafyreig4trqtifolb3mw7b6elt5butfb23gj2n6dugtjm2gwt63symqvb4" is not allowed to write to the log"

I can not write new data , can not change data, but I can read data from 3box

I can not write data to 3box , when I  open a new.
This is my code
[code]

[2020-08-22 16:15] jeffkhull opened #898 "Result paging from space.private.all?"
Hi all,

Super excited about 3Box.  For scaling spaces to a large number of documents, is there a way to:

1. Search document by date modified?
2. Page through results?

My basic plan is to keep search indexes sync'd locally in IndexedDB.  I will keep a "date last sync'd" and when the app starts up, I would ideally get just the docs updated since the sync'd date and rebuild the indexes to enable l

[2020-08-25 14:45] wighawag opened #902 "Export to es module"
3box is not exporting to es module, this break compatibility with modern js tooling.

Some tool expects es modules (vite) and es module benefit from tree-shaking (rollup).

I am not familiar with webpack but maybe there is any way to transpile to es module ?

[2020-08-26 03:33] aphelionz commented on #872
Looks like the OrbitDB udpate solved the problem for @aturX :+1:

[2020-08-26 09:20] oed commented on #898
Currently the way 3Box works (really OrbitDB which 3box uses under the hood) is that when you sync a DB you sync all of it's history. This means that all of the entires are loaded into memory. In this case paging would only be a syntactic sugar for developers and not actually load the DB entries partly.

Hope that clarifies things a bit!

[2020-08-26 09:21] oed commented on #872
Will be fixed by #901
cc @zachferland

[2020-08-26 09:22] oed commented on #897
Duplicate of https://github.com/3box/3box-js/issues/872

[2020-08-26 09:22] #897 closed

[2020-08-26 23:32] jeffkhull commented on #898
Makes sense, thanks for the explanation!

[2020-08-26 23:32] #898 closed

[2020-08-27 13:50] zachferland opened #903 "Track Thread Issues"
Ref discord, may also only be an api issue, or inherent limits/constraints

[2020-09-01 18:07] miguelmota opened #904 "Error: "Key not found in database [/...]""
**Describe the bug**
Error `Key not found in database [/AFYBEIGXHOI4VKIBLJRGDP3K7HGEMT7PET3C35TSNV337PCMDYLI6GPEQY]` when trying to open box. Any help is appreciated. Thanks in advance

![Screenshot from 2020-09-01 10-59-52](https://user-images.githubusercontent.com/168240/91889637-fc1d5980-ec42-11ea-989c-c00570df94d6.png)

**To Reproduce**
[code]

**Expected behavior**
No error

**Desktop (please

[2020-09-01 18:17] zachferland commented on #904
thanks @miguelmota, can you try clearing your cache in your app and for https://cache.3box.io/? and see if this still happens

[2020-09-01 22:28] miguelmota commented on #904
tried it on a Chrome Incognito window and received a different error: `"The user denied permission to access the database.`

![Screenshot from 2020-09-01 15-26-47](https://user-images.githubusercontent.com/168240/91912299-ac9d5480-ec67-11ea-8a62-6c3f3b7a9bbb.png)

[2020-09-01 22:29] miguelmota commented on #904
This used to work a few months ago with the same code, if that helps

[2020-09-02 00:50] zachferland commented on #904
I dont believe all the web apis we need (ipfs and orbitdb) are available for it work incognito mode, ill have to try again.

But typically this error has been occurring when localstorage/indexeddb is cleared in cache.3box.io but not in the application, which is unlikely. I have seen it otherwise, but clearing application storage should remove it either way.

[2020-09-02 01:25] miguelmota commented on #904
I tried clearing all the storage in Chrome non-incognito by going to devtools -> Application -> clear storage, and made sure all the different storage types were empty but received this different error now after trying the same code: `Must provide a location for the database`

![Screenshot from 2020-09-01 18-20-21](https://user-images.githubusercontent.com/168240/91921309-0a3d9b00-ec80-11ea-9d9f-c

[2020-09-02 16:21] zachferland commented on #891
@dkent600 if switching between versions you may see this error, i would try clearing browser storage for your application and trying 1.21.0 again, but let me if you see it more regularly

[2020-09-02 16:27] dkent600 commented on #891
Having to clear browser storage would be an issue for our users.

[2020-09-02 16:38] zachferland commented on #891
yes of course, just saying if going between versions in development you may be more likely to see this

is version 1.20.x already deployed to your users?

[2020-09-02 16:54] dkent600 commented on #891
actually, now that you mention it, our 1.20.* code hasn't gone out yet....

[2020-09-02 18:05] dkent600 commented on #891
I cleaned everything out and now in `Box.create` I get:

[2020-09-03 01:58] zachferland commented on #904
I believe i have seen this from some sub dependency mismatches, worth trying removing node_modules and installing again

I can try to see if I can replicate as well

[2020-09-03 21:08] zachferland commented on #891
@dkent600 have not been able to replicate yet, what browser do you see this in?

and can you run 'npm list levelup level-js orbit-db-storage-adapter' to see what versions of these dependencies you have?

[2020-09-03 22:34] e18r opened #905 "OrbitDB error when logging in with a different account"
**Bug description**

When a user logs out, refreshes the page, and then tries to log in with a different Ethereum account, an error is thrown from [OrbitDB's ipfs-log repo](https://github.com/orbitdb/ipfs-log/):

    at Log.append ([log.js:308](https://github.com/orbitdb/ipfs-log/blob/beb5672fb2a78640a2c099367ac9601d20b5bda2/src/log.js#L308))
    at async FeedStore.addOperation ([Store.js:517](htt

[2020-09-04 00:48] dkent600 commented on #891
Browser:  Edge Chromium

| +-- 3box-shared-cache@1.1.0
| | +-- level-js@4.0.2
| | +-- levelup@4.4.0
| | `-- orbit-db-storage-adapter@0.5.3  deduped
| +-- ipfs@0.46.1
| | `-- ipld-ethereum@4.0.2
| |   +-- ethereumjs-block@2.2.2
| |   | `-- merkle-patricia-tree@2.3.2
| |   |   `-- levelup@1.3.9  deduped
| |   `-- merkle-patricia-tree@3.0.0
| |     `-- level-mem@3.0.1
| |       `-- level-packager@4.0

[2020-09-04 08:13] oed commented on #905
I believe this will be solved by #901

[2020-09-05 21:31] rstuven opened #906 "Chatbox example is not working"
**Describe the bug**
After MetaMask sign in, the app doesn't show chatbox.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:3box/3box-chatbox-react.git && cd 3box-chatbox-react`
2. `npm install && npm run start`
3. Open `http://localhost:8080/`
3. Sign in using MetaMask
4. Error in console log.

**Desktop (please complete the following information):**
 - OS: macOS 10

[2020-09-06 20:57] rstuven commented on #906
I found the root cause: Some dependencies (see below) are installing `cids@1.0.0`, which removes the `buffer` property from `CID` class, while others still depend on that property.

[code]

My workaround was to install a previous version of `ipfs-log`:
[code]

[2020-09-08 17:30] zachferland opened #909 "isLoggedIn returning false after auth"

[2020-09-08 17:36] zachferland opened #910 "Accounts linking with existing accounts stored locally"
some bug reports indicate that multiple accounts maybe unintentionally linking

[2020-09-10 13:46] Kharabet commented on #649
Are there any updates on this issue? I have the same problem

[2020-09-10 13:56] zachferland commented on #909
Related https://github.com/3box/3box-js/issues/910 - closing to track there

[2020-09-10 13:56] #909 closed

[2020-09-10 13:57] zachferland commented on #910
isLoggedin and logout were not changed to handle state in iframe, needs to be implemented

[2020-09-10 17:04] dkent600 commented on #891
@zachferland  Any updates on this?  Thanks.

[2020-09-12 22:20] Jshanks21 commented on #904
Thank you for this @zachferland! I started getting the "Key not found in database [/...]" error a couple days ago, but this solved it for me.

[2020-09-16 14:16] zachferland commented on #872
3box@1.22.0 has been release now and includes orbit-db@0.25.1 which should include a fix for this error

Closing issue now, please re open another if any issues continue!

[2020-09-16 14:16] #872 closed

[2020-09-16 14:16] #910 closed

[2020-10-06 17:55] ColdDevil commented on #788
In case somebody has the same issue.. I had to manually unlink my address by executing `box.removeAddressLink("0xfac0475b677b54f72682e0ea633ffa1088110dcf");` in the console of the aforementioned demo repo (see https://github.com/3box/3box-js#Box+removeAddressLink). Afterwards it worked again :)

[2020-10-07 23:26] zachferland commented on #904
Closing issue, the last release also included a fix for 'key not found' errors, can open new issue if any continuing issues

[2020-10-07 23:26] #904 closed

[2020-10-26 03:55] drwasho commented on #876
@zachferland sorry for taking so long to get back to this, but just confirming that it works perfectly!

[2020-10-26 03:55] #876 closed

[2020-10-28 11:49] sanmiawi opened #926 "How can I capture await.getProfile errors?"
When I try to use the getProfile method it works with a valid address but I would like to read the error returned if an invalid address is entered example
`await threeBox.getProfile('abcdefghijklmnopqrstuvwxyz') `

returns the following error in developer tools
`{"status":"error","message":"Address link not found, address does not have a 3Box or is malformed"}`

but I cannot read this error using

[2020-10-28 11:59] oed commented on #926
Hey unfortunately it's not possible to catch these as Chrome and other browsers always will log whenever 404s happen, regardless of if you catch the error or not :/

[2020-10-28 11:59] #926 closed, assigned to nobody

[2020-10-28 12:55] sanmiawi commented on #926
Hi, I do not mind that the error is logged in console. I would like to know that it occurred and make a different decision based on the occurrence of an error. If there is no thrown error, do you think its possible to parse the response from `connect.3box.io`?

[2020-10-28 13:02] sanmiawi commented on #926
Hi, its ok. I think I will just use `axios` get request `https://ipfs.3box.io/profile?address=` and parse the result from that before using the getProfile function. Thanks

[2020-11-02 18:39] dazuck opened #929 "test issue for sprint disruption label"

[2020-11-12 18:23] #823 closed

[2020-11-13 13:46] #633 closed

[2020-11-19 21:39] Razzwan opened #932 "Installation with version up to 1.20.2 throwing an error"
**Describe the bug**
When I trying to install new version of 3box (up to 1.20.2) tryed all of them: 1.21.0, 1.22.0, 1.22.1, 1.22.2 I am getting such error during installation:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install the package older than 1.20.2 on mac OS

**Expected behavior**
Installation finished succesfully

**Screenshots**
![](https://image.prntscr.com/imag

[2020-11-25 10:04] orenyodfat commented on #891
hey @zachferland any update ?
we are currently using 3box 1.22.2 and here is the dependency logs
├─┬ 3box@1.22.2
│ ├─┬ 3box-orbitdb-plugins@2.1.2
│ │ └─┬ orbit-db@0.24.2
│ │  └── orbit-db-storage-adapter@0.5.3 deduped
│ ├─┬ 3box-shared-cache@1.1.0
│ │ ├── level-js@4.0.2
│ │ ├── levelup@4.4.0
│ │ └── orbit-db-storage-adapter@0.5.3 deduped
│ ├─┬ ipfs@0.46.1
│ │ └─┬ ipld-ethereum@4.0.2
│ │  ├─┬ ether

[2020-12-02 07:27] ChaituVR commented on #649
Any Updates on this?

[2020-12-09 01:55] scottrepreneur commented on #932
I'm seeing this also on Big Sur.

The `bcrypto` library is a dependency of `ipfs` so not sure if we should be asking them to update instead. Thanks for reporting @Razzwan

[2020-12-10 16:53] #929 closed, assigned to nobody

[2020-12-14 12:16] dievardump commented on #649
Hello, anyway to do something for this? the `OPTIONS` request (called a preflight request - which is default browser behavior) doesn't go through, wich blocks any `POST` request.

This is a one year old ticket, could something be done about this?

[2020-12-14 12:31] ChaituVR commented on #649
@dievardump I've ended up using 3Box's Graphql API instead

[2020-12-29 18:53] metaspartan opened #945 "3Box.auth() or 3Box.openbox() with no bind?"
Hello,

Currently it seems both and the only methods of authenticating 3Box is via the .auth() and .openbox() calls, I am wondering if there is a method of authenticating a 3Box without having to use those methods or to pass something to them like a provider with a wallet object/privkey? Basically utilizing either method in anything besides ReactJS projects will give the error:
` TypeError: Cannot

[2021-01-27 01:02] adamsoffer commented on #932
@scottrepreneur @Razzwan adding a yarn resolution pointing to the latest version of `bcrypto` fixed the issue for me.

[code]

[2021-02-02 21:28] DiegoGallegos4 commented on #902
@wighawag did you manage to work around this?

[2021-02-02 22:55] wighawag commented on #902
@DiegoGallegos4
What I do is load the 3box.min.js from js itself. This is not ideal, but it get me the 3box sdk without the need to include in my buid process that would not accept non es-module easily.

[2021-03-03 09:58] vinhyenvodoi98 opened #957 "can't install web3"
**Describe the bug**
fail when install 3box
[code]
![image](https://user-images.githubusercontent.com/33363513/109788172-989bd500-7c41-11eb-9018-e2db2df6ddcc.png)

look like the reason is hugomrdias delete pull-ws repo

[2021-03-07 02:17] adamsoffer commented on #957
@vinhyenvodoi98 how'd you get around this issue?

[2021-03-07 02:52] vinhyenvodoi98 commented on #957
@adamsoffer I installed it before so I have 3box in node_module and I copy it from project to project. However it is not a good solution so I'm still waiting for 3box to come up with their solution.

[2021-03-08 23:31] adamsoffer commented on #957
Hey @vinhyenvodoi98 - I was able to get around the issue by adding the following yarn resolution to my `package.json`:

[code]

[2021-03-09 04:54] vinhyenvodoi98 commented on #957
@adamsoffer awesome i definitely try it

[2021-03-24 02:43] PfanP commented on #771
Is this issue resolved?

[2021-03-24 02:44] PfanP commented on #771
I'm still getting errors with walletconnect

[2021-04-08 02:41] #957 closed, assigned to nobody

[2021-04-13 02:53] SilasZhr commented on #553
I'm getting the same error while I'm using Trezor with metamask. The problem is still here after I've cleaned local storage. But I find that if I just connect the address generated by metamask instead of trezor, the login function works well.

[2021-04-28 14:54] #550 closed

[2021-06-09 12:43] alexkeating commented on #162
Installing @types/3box resolved my typescript issue.

https://www.npmjs.com/package/@types/3box

[2021-06-09 13:44] michaelsena commented on #162
hey @alexkeating, thanks for using 3Box. Just to let you know, we're beginning to deprecate this codebase in favor of [IDX](https://github.com/ceramicstudio/js-idx). Would love to know what you're working on so we can help point you in the right direction. You can join the [IDX/Ceramic Discord server](https://chat.idx.xyz) and let us know. Also, here are the [IDX Docs](https://developers.idx.xyz)